[2020-10-21 08:35] #1189 closed

[2020-10-26 18:35] #1185 closed

[2020-10-29 14:37] beikov opened #1193 "Not a valid join alias issue when using entity array expression with implicit join in index predicate"
Looks like a mapping like the following does not work currently:

[code]

It fails with a NPE in the JoinVisitor because no currentJoinNode is set. According to another users report, it will also fail with an invalid alias exception saying something along the lines of: `The base 'correlated_ext_b.myAssociation.otherAssociation' is not a valid join alias!`

The issue here is that with PostgreSQL we

[2020-10-31 18:11] Mobe91 opened #1194 "Support multiple datasources in Quarkus integration"
See https://quarkus.io/guides/datasource#configuring-multiple-datasources

[2020-11-06 08:20] jloupdef opened #1195 "Unable to deserialize Instant object from ISO 8601 (with jax-rs integration)"
Starting with blaze 1.5, I cannot find a way to deserialize Instant object from ISO 8601 date in Entity View.

As stated in 1.4 documentation, blaze used existing ObjectMapper to deserialize entityView and could therefore be configured (https://persistence.blazebit.com/documentation/1.4/entity-view/manual/en_US/index.html#usage-5)

Starting with 1.5, (changed in [this commit](https://github.com/Bl

[2020-11-06 08:25] beikov commented on #1195
Hi,

this is unfortunate. Can you try creating a subtype of `com.blazebit.persistence.integration.jaxrs.EntityViewMessageBodyReader` with a higher priority i.e. `@Priority(Priorities.USER - 2)`

[2020-11-06 09:13] jloupdef commented on #1195
Creating a subtype is not really a solution as everything is private and without getter, I still need to copy nearly all the class's content. My current workaround has been to copy the full file in my project, give it a higher priority and configure the object mapper directly, but without making a subtype.

[2020-11-06 09:14] beikov commented on #1195
Ah yes, makes sense. I will fix this by injecting `Instance<ObjectMapper>` and bind that if satisfied. Would that be fine for your use case?

[2020-11-06 09:33] jloupdef commented on #1195
Yes it would by fine for me (another way is to keep a reference on created objectMapper and give access to it through a getter, this way people could customize it to their needs without interfering with their own mapper, but I don't know if there is use cases where keeping two objectMappers makes sense).
Anyway, thank you for quick responses and your work on this amazing project !

[2020-11-06 09:34] beikov commented on #1195
I'm not sure if it is thread safe to allow changes to the `ObjectMapper` later on, so I would prefer doing this during initialization and then be done.

Thanks, glad you like it :)

[2020-11-06 16:08] #1195 closed

[2020-11-10 09:31] luyuanx2 opened #1198 "When bind cte can't as alias"
![image](https://user-images.githubusercontent.com/26129033/98655586-981dbc80-237a-11eb-9378-3c6647114cc6.png)

[2020-11-10 09:36] beikov commented on #1198
Hi @luyuanx2, thanks for the report! We will look into this. I guess you want this alias for usage in the `ORDER BY` clause? You can workaround that by using the expression directly there as well.

[2020-11-10 11:24] luyuanx2 commented on #1198
I want to use group by clause

[2020-11-10 11:29] beikov commented on #1198
Group bys are created implicitly when an aggregate function is used, so you don't need add that explicitly. Apart from that, the use of a select alias in the group by will currently still expand to the actual expression, but this should be fixed by https://github.com/Blazebit/blaze-persistence/issues/1075

[2020-11-10 11:29] luyuanx2 commented on #1198
when i use the expression directly，there another error occurs
![image](https://user-images.githubusercontent.com/26129033/98668575-08343e80-238b-11eb-9e94-81314590c3f3.png)

[2020-11-10 11:33] luyuanx2 commented on #1198
Are there other solutions?

[2020-11-10 11:36] beikov commented on #1198
The problem you are facing there is only on MySQL and a fix to handle such cases was developed as part of https://github.com/Blazebit/blaze-persistence/issues/1185 but there is no release for this yet. You can see if 1.6.0-SNAPSHOT works for you. You could also disable this faulty MySQL emulation by providing a custom `DbmsDialect` that returns `true` for `supportsGroupByExpressionInHavingMatching

[2020-11-10 11:39] luyuanx2 commented on #1198
ok，thanks，I'll try

[2020-11-10 11:48] jwgmeligmeyling commented on #1198
Both `bind(...)` and `as(alias)` are wrapping operations. Currently the serializer only supports `bind(expression).as(alias)` and not .bind(expression.as(alias))`. I will change the serializer so that it can handle both situations. Please try if `bind(expression).as(alias)` works as a workaround.

[2020-11-10 15:37] jwgmeligmeyling commented on #1198
I've implemented a fix in #1199

[2020-11-10 17:48] beikov opened #1200 "Interface method preferred over abstract class method in metamodel"
Consider the following example:

[code]

In the metamodel for the `id` attribute of the view type for `Concrete`, we see that the chosen method is from `BaseInterface` although the one from `Base` should be preferred. This can lead to wrong metadata being read, but can be fixed by introducing the method in `Concrete`.

[2020-11-10 18:37] beikov opened #1201 "Collection and Map accumulator don't respect filterNulls when batchSize 1 leading to null collection entries"
A correlated collection with batch size 1 that would correlate no values currently results in a collection with a null entry which is wrong and leads to other issues.

[2020-11-10 18:42] #1198 closed

[2020-11-11 08:48] beikov opened #1203 "Avoid transforming SIZE to COUNT when implicit group by would fail"
Since we changed how the group by clauses are determined we sometimes run into exceptions now when transforming a SIZE to a COUNT. A prime example is that a `CASE WHEN ... ELSE :param END` select item fails if it can't be put into the group by clause due to the parameter not being renderable as literal. We should deactivate the COUNT transformation and use subqueries instead if we encounter someth

[2020-11-11 19:43] #1201 closed

[2020-11-11 19:43] #1203 closed

[2020-11-12 08:44] #1194 closed

[2020-11-16 07:49] #1050 closed

[2020-11-16 09:15] beikov commented on #447
Closing in favor of secondary entity view roots #448

[2020-11-16 09:15] #447 closed

[2020-11-16 14:40] #1193 closed

[2020-11-18 09:38] beikov opened #1207 "Optional parameter detection in annotation processor doesn't handle constant concatenation"
When using something like `":" + CONSTANT` in a view filter provider we determine an empty alias in the annotation processor. This should be improved. We should either detect the name or simply don't generate the apply method as it results in a compiler error anyway.

[2020-11-18 09:40] beikov opened #1208 "EntityViewManager.getEntityReference fails for embedded id entity types"
Using a view with an embedded id view with `EntityViewManager.getEntityReference` fails because it tries to find the entity by the entity view id.

[2020-11-18 11:46] beikov opened #1209 "PaginatedCriteriaBuilder use case broke due to fix for implicit group by generation #1185"
The fix for #1185 broke a `PaginatedCriteriaBuilder` use case that affects a few queries.

Imagine something like this:
[code]

This fails because we generate implicit group by expressions for the select item. Since we don't actually need the group by item though, this should be fixed.

[2020-11-18 16:59] #1209 closed

[2020-11-20 07:21] beikov opened #1212 "Add Smallrye GraphQL integration"
Smallrye GraphQL has a `Context` which can be injected and has a few callbacks already during boot. Let's try to write an integration so that we can provide info about what is missing for the MP GraphQL spec.

When we want to support Smallrye, we need to update graphql-java which requires a few changes. When we do that, we can try to extract nested limit/offset arguments and pass these as paramete

[2020-11-22 01:08] Mobe91 opened #1213 "Allow data loading in REST integrations"
Quote @beikov

[2020-11-22 01:11] Mobe91 commented on #1090
Suggestions:

[code]

[2020-11-22 01:30] Mobe91 commented on #1090
But extending `@EntityViewId` is insufficient since this only plays a role when retrieving the ID from the URI. We also need a mechanism for cases where the id is retrieved from the request body.

[2020-11-22 01:38] Mobe91 commented on #1090
I think it would be better to leave `@EntityViewId` as is and introduce a new annotation instead that can be used for both cases, id in URI and id in body.
Suggestion:
[code]

[2020-11-22 02:07] Mobe91 commented on #1104
@beikov I cannot reproduce this. See the PR with added test cases. They all suceed - tested Spring-Data 1.11.x and 2.0.x

[2020-11-23 00:19] Mobe91 commented on #1213
What do you think about:
[code]

[2020-11-23 10:11] beikov commented on #1213
I think I'd like an annotation like e.g. `@EntityViewResource(idParamName = "id", applyMode = ApplyMode.AUTO)` with e.g. the following modes:

* `AUTO` - models what we have now
* `CREATE` - always use create
* `PATCH` - apply on the reference
* `UPDATE` - apply on the loaded object

[2020-11-23 10:12] beikov commented on #1090
Also see https://github.com/Blazebit/blaze-persistence/issues/1213

[2020-11-23 11:53] #826 closed

[2020-11-23 11:53] #713 closed

[2020-11-26 09:32] jloupdef opened #1217 "Wrong table updated on ManyToMany relations with two different join tables on same object"
### Description
I have en entity describing a field and another one using the first entity as two different types, "attribute" and "characteristic":

[code]

At creation everything is fine, but on update the wrong JoinTable is being updated (the insert is done in the wrong one resulting depending on the order of the internal request, in no data in jointable or all in the same).

### Expected behav

[2020-11-26 09:35] beikov commented on #1217
Thanks for the report. I'll look into this as soon as I can.

[2020-11-26 12:00] jloupdef commented on #1217
The issue seams to come from the QueryPlanCache and how the cacheKey is calculated:
Here is the four cache keys components obtained:
delete on first join table:
`SELECT 1 FROM FailTest$ObjectInstance e LEFT JOIN e.attributes _collection WHERE collection_dml_support(e.id) = :id`
insert on first join table:
`SELECT val.id, treat_integer(:id) FROM FailTest$ObjectField val WHERE val.id = :val_id_0 AND

[2020-11-26 12:04] beikov commented on #1217
Wow, what an analysis! In fact, we fixed something similar on master already: https://github.com/Blazebit/blaze-persistence/commit/0426fface4e71d2857caf31bba933358d30a040f

Could you maybe give a SNAPSHOT a shot?

[2020-11-26 13:02] jloupdef commented on #1217
Yes it's working fine with 1.6.0-SNAPSHOT, I suppose there is no chance to see a release 1.5.2 with only bugfixes ?

[2020-11-26 13:23] beikov commented on #1217
Could you try disabling the query plan cache by setting the property: https://persistence.blazebit.com/documentation/1.5/core/manual/en_US/#QUERY_PLAN_CACHE_ENABLED

Generally, we only do public fix releases for critical bug fixes. Although this is critical, it should be possible to workaround this issue by using the mentioned property. If you want such fixes to be back-ported, you'd have to consi

[2020-11-27 15:11] jloupdef commented on #1217
Hi, I cannot find how to set this property using current Quarkus integration. I finally splitted the elements with two different objects to get it to work.

Commercial support is not an option for now, but good to know that it exists.

I think you can close this issue as it is fixed in master.

[2020-11-27 15:12] beikov commented on #1217
Thanks and sorry for the trouble. I'll do the 1.6.0-Alpha2 release soon.

[2020-11-27 15:12] #1217 closed

[2020-11-27 19:46] #1152 closed

[2020-11-29 01:43] Mobe91 opened #1219 "Support EclipseLink 2.7.x"
Currently, Blaze-Persistence does not work with EclipseLink 2.7.x. We should add support for it.

Reproduce issue:
1. Upgrade EclipseLink version to 2.7.7
2. Run `com.blazebit.persistence.testsuite.ArrayExpressionTest#testSelectParameterIndex`
3. Observe the following exception:

[code]

[2020-11-29 01:46] Mobe91 commented on #313
I have created a [reproducer](https://github.com/Mobe91/blaze-persistence/tree/issues/313-reproducer) for this but want to test it with the newest EclipseLink before reporting it. Waiting for #1219 to support latest EclipseLink 2.7.7.

[2020-11-29 02:10] Mobe91 commented on #1104
@beikov I have tried with the test app you sent me, everything seems to work there (no exceptions). So I think we can merge the additional tests I have created and close this issue.

[2020-11-29 02:17] Mobe91 commented on #1213
@beikov
Where would this annotation be placed? Can you provide a complete example? Would this mean that the @EntityViewId annotation becomes obsolete?

In essence, what is the functional difference between your suggested `PATH` and `UPDATE` modes and what is the reasoning behind their names?

[2020-11-29 10:21] beikov commented on #1213
On the entity view parameter, so yes, the @EntityViewId annotation would become obsolete.

UPDATE would apply the json payload on a view loaded via `entityViewManager.find`.
This allows to replace collections or remove elements from collections whereas PATCH only allows adding elements currently

[2020-11-29 10:22] beikov commented on #1104
You wouldn't see exceptions but see that a wrong query is executed that then triggers lazy loading

[2020-11-30 01:23] Mobe91 commented on #1104
I don't see any lazy loading issues. But I see some other problems. Here is the relevant log output:

[code]
The first invocation of `blazePersistenceTraverseTreeUp` takes a crazy 68.7885ms compared to the first invocation of `jpaTraverseTreeUpPreloaded` (11.6631ms). The second invocation of `blazePersistenceTraverseTreeUp` is when caching should kick in but it still takes more than twice as long

[2020-11-30 01:59] Mobe91 commented on #1213
I don't get it.
Consider an endpoint PATCH /persons/{id} that accepts JSON representing a PersonView. `contacts` is an updatable collection mapping within PersonView.
[code]
I would expect the persisted contacts collection to be _replaced_ by the contacts collection in above request. There is not even a way to denote that I want these elements to be removed/added to the persisted collection rather

[2020-11-30 02:09] Mobe91 opened #1220 "Make query plan caching configurable in Quarkus integration"
Users should be able to disable query plan caching if they experience problems with it.

[2020-11-30 07:55] beikov commented on #1213
You are right, the JSON mapping does `clear` + `add` to the collection, so yes, it would replace the collection when using UPDATE.
The difference is, that PATCH which uses a reference, would allow to only add elements but then it also doesn't load the collection.

[2020-11-30 07:59] #1220 closed

[2020-11-30 19:59] beikov opened #1222 "Spring Boot and Data 2.4 support"
Add support for Spring Boot and Data 2.4.

[2020-12-01 05:56] Mobe91 commented on #1213
So since the current implementation uses `getReference`, applying the above JSON leads to the contacts being added to any existing contacts? That's fucked up. 😂

[2020-12-01 05:58] Mobe91 commented on #1213
IMHO a PATCH mode would need to also support the removal of elements. I don't see how it is useful otherwise.

[2020-12-01 07:52] beikov commented on #1213
You can use `saveFull` to do this replacing even with the `getReference` approach.

I think it's useful for at least updating basic attributes, but maybe this mode should not be the default configuration.

[2020-12-01 10:00] luyuanx2 opened #1224 "how to forbid auto add select columns on group by"
![image](https://user-images.githubusercontent.com/26129033/100725349-e1ec4680-33fe-11eb-8884-a1f86e785f00.png)
This is auto add，I hope group by only `resourcepo0_.id`

[2020-12-01 10:03] beikov commented on #1224
Hi,

you can control this through the following configuration property: https://persistence.blazebit.com/documentation/1.6/core/manual/en_US/#IMPLICIT_GROUP_BY_FROM_SELECT

Which version are you using? Since `GROUP_CONCAT` is actually an aggregate function, it should not end up in the group by clause. We actually have tests for his so I'm surprised to see this happening. Could you also share some

[2020-12-01 10:14] luyuanx2 commented on #1224
yes, the actual error is `group_cancat` can't use in group by clause
![image](https://user-images.githubusercontent.com/26129033/100727286-ff221480-3400-11eb-9af3-9b703d22dd1e.png)

[2020-12-01 10:18] luyuanx2 commented on #1224
part of my code，`group_concat_distinct` is my custom function
![image](https://user-images.githubusercontent.com/26129033/100727707-938c7700-3401-11eb-886a-da81b6a10245.png)

[2020-12-01 10:31] jwgmeligmeyling commented on #1224
You need to register the custom function as aggregate function for implicit group by to work properly. Blaze-Persistence by the way has its own implementation of `group_concat` (also the distinct version) which is already registered as an aggregate function.

To use this in the QueryDSL integration you use: [`JPQLNextExpressions.groupBy(groups.name)`](https://github.com/Blazebit/blaze-persistence/

[2020-12-01 10:32] beikov commented on #1224
Interesting, can we maybe support this string template stuff somehow @jwgmeligmeyling ?

[2020-12-01 10:36] jwgmeligmeyling commented on #1224
We do support the string template stuff, as long as the function used is the same one we have implemented ;-) The problem is the user uses his own `group_concat_distinct` instead of `GROUP_CONCAT ( ('DISTINCT' )? , string (, 'SEPARATOR', separatorString)? (, 'ORDER BY', ( orderByExpr, ( 'ASC' | 'DESC' ) )+ ) )`

[2020-12-01 10:43] beikov commented on #1224
Since this can be solved by using the builtin function, I'll close this.

[2020-12-01 10:43] #1224 closed

[2020-12-01 13:20] jwgmeligmeyling commented on #1224
@luyuanx2 did it work for you?

[2020-12-01 17:14] #1222 closed

[2020-12-02 08:12] luyuanx2 opened #1225 "Can't order by"
When i order by `productCostCte.productCost.desc()`

[code]

my code:
[code]

[2020-12-02 08:16] beikov commented on #1225
Hi @luyuanx2,

you can't paginate `resourceCostCte` objects when ordering just by the product cost. The ordering must be unambiguous, meaning that you have to add some unique attribute to the order by clause.

Usually, this is done by adding the primary key at as last order by item. I don't know your model, but I guess if you add `.orderBy(productCostCte.id.desc())` it should work.

[2020-12-02 10:40] jloupdef opened #1226 "Cannot update embedded object in entity if itself is updated through an UpdatableMapping (throw QueryException)"
### Description
In specific case detailed later, when an object A updates a collection of objects B through an UpdatableMapping and this object B contains an Embedded (to group fields together and factorize code), the request tries to updates all of the embedded's fields but without binding parameters for attributes we are not trying to update, resulting in a QueryException (See test below for a c

[2020-12-02 10:45] beikov commented on #1226
Hi and thanks for the reproducer. You could try to use the `FlushStrategy.ENTITY` as a workaround for now: https://persistence.blazebit.com/documentation/1.6/entity-view/manual/en_US/#update-mapping

[2020-12-02 11:08] jloupdef commented on #1226
The workaround works, thank you.

[2020-12-02 11:47] beikov commented on #1213
I just tried out to add an element to a collection of a reference entity view and it seems I was wrong. The semantic is always the same i.e. replace but the difference with reference views is that only what is dirty is updated *and* it avoids loading data.

[2020-12-02 13:36] jloupdef commented on #1226
Spoke to quickly, the update does not throw an exception anymore, but does not save data either... Embedded value is not updated.

[2020-12-02 13:45] beikov commented on #1226
I just reproduced the issue and think I fixed it also, but I still have to verify that the fix also applies for inverse mapped collections like in your case. If you want, you can try out the following: https://github.com/Blazebit/blaze-persistence/pull/1227

[2020-12-02 16:21] beikov commented on #1226
I'm pretty sure the PR fixes your issue. Can you verify this @jloupdef?

[2020-12-02 16:47] beikov commented on #1225
I'll close this for now as I think my comment should help you resolve the issue. Feel free to comment further on this issue if that doesn't work for you.

[2020-12-02 16:47] #1225 closed

[2020-12-02 20:45] jloupdef commented on #1226
Made a few more tests and everything is fine with this version !
Can't wait for the release !

[2020-12-02 20:46] #1226 closed

[2020-12-02 20:47] beikov commented on #1226
Thanks for confirming. I'm planning to do a few more fixes and then do a release later next week. Until then, you can make use of the current SNAPSHOT

[2020-12-03 02:27] luyuanx2 commented on #1225
When i add some unique attribute`.orderBy(productCostItemCte.productCost.desc(), costItemCte.resourceCostItemCtePK.resourceId.asc()
                        ,costItemCte.resourceCostItemCtePK.billingItemId.asc())`, other error occurred. if order by with unique attribute`.orderBy(costItemCte.resourceCostItemCtePK.resourceId.asc(),costItemCte.resourceCostItemCtePK.billingItemId.asc())`,  it's ok
[cod

[2020-12-03 03:00] luyuanx2 commented on #1225
I used sql tool validate the print sql，it find error too. why auto add order by `resourcepr27_.productCost DESC` in tmp table
![image](https://user-images.githubusercontent.com/26129033/100958008-7917e200-3556-11eb-87c0-5852f4692f5b.png)

[2020-12-03 09:01] jwgmeligmeyling commented on #1225
It didn't automatically add it, you specified it:

[code]

I think `productCostItemCte.productCost` is simply unreachable in your final query.

[2020-12-07 01:22] Mobe91 commented on #1213
So if the semantics are always the same, there is no need for the ´UPDATE´ mode, right? In that case we can close this issue.

[2020-12-07 08:27] beikov commented on #1213
Although the flush semantics might be the same, there might be logic in setters or in the service that takes the view for flushing that depends on other state. So the UPDATE mode does make sense for these cases.

[2020-12-08 01:42] danelowe commented on #632
@beikov I'm really intererested in this. Any idea where to start?

[2020-12-08 07:10] beikov commented on #632
Hi @danelowe,

it really depends how far you want to go with this. Simple attribute path mappings should be easy to implement as that is what we did for entity view conversion already. The tough part would be to support interpreting JPQL functions.

By where to start, you mean you would like to try to implement this? If so, I guess it would be good to take a look at how the view to view mapping wo

[2020-12-09 02:37] riteshka opened #1228 "Tuple query with single scalar select returns same value for each row"
Trying to use BlazeCriteriaQuery<Tuple> to return a single attribute, returns expected number of records, however, each record in the list has the same value.
Ex. Person entity with three attributes firstname, lastname, email. Table contains 10 records where 8 have distinct firstnames. Selecting only distinct firstname returns 8 records, but each has same value.

Works fine when Tuple has more tha

[2020-12-09 03:06] danelowe commented on #632
Hi @beikov

I was considering trying to implement this as I figured I'd need to in order to get the functionality. I also thought it might be good for me to try to understand how it works.

I spent half a day trying to grok the codebase, and I'm quite lost with it still. I'm definitely not finding it easy to implement myself. Maybe I'm on the wrong track, or maybe I don't understand what I'm looki

[2020-12-09 22:59] #1228 closed

[2020-12-10 08:22] beikov opened #1232 "Introduce nullity annotations"
As discussed in the PR https://github.com/Blazebit/blaze-persistence/pull/1229#issuecomment-742361820 it would be nice to introduce nullity annotations.

I think I prefer the JetBrains annotations:

[code]

Personally, I'd like to use non-null by default and annotate `@Nullable`.

[2020-12-10 08:47] jwgmeligmeyling commented on #1232
+1 for Jetbrains. Its one of the few that can be used with provided scope, as its annotations have only compile time retention.

[2020-12-13 05:38] Mobe91 commented on #1213
Ok.

I suggest `@EntityViewResource(idParamName = "id", applyMode = ApplyMode.AUTO)` with the following modes:

* `AUTO` - models what we have now
* `CREATE` - always use create
* `UPDATE_REFERENCE` - apply on the reference
* `UPDATE_LOADED` - apply on the loaded object

[2020-12-13 10:10] #632 closed

[2020-12-13 10:23] beikov commented on #1213
Sounds good! Do you think it makes sense to still use `EntityViewManager.create` if no id is given when the view is updatable and creatable and `UPDATE_REFERENCE` or `UPDATE_LOADED` are used? What I'm trying to ask is, should the configuration force either create or update or should it just provide a preference for how to update? I think for POST endpoints it might make sense to allow creation as

[2020-12-14 01:46] beikov commented on #1212
The main issue blocking this is that generics aren't supported and that we can't alter the interpretation process of java methods. See https://github.com/smallrye/smallrye-graphql/issues/574

[2020-12-14 01:47] beikov commented on #1125
Since not even SmallRye GraphQL can do what we need, this will take even longe. Also see https://github.com/Blazebit/blaze-persistence/issues/1212

[2020-12-14 07:49] Mobe91 commented on #1213
Ok, let me revise my suggestion:

[code]
This should cover all use cases. Do you agree?

[2020-12-14 08:24] beikov commented on #1213
I suggest two settings, `ApplyMode` and a boolean flag `updateReference`.

[code]

[2020-12-14 16:34] alexferreiradev opened #1235 "How to mapping EmbeddableId with EntityView ?"
### Description
I need to mapping a entity that has a composed primary key, mappied in JPA with @EmbeddableId. I had searched in the documentation, but saw only FlatViews and @IdMapping("key"). However, I tried with both, and I got exceptions.

I try with:
[code]
But got `java.lang.IllegalArgumentException: Parameter value [100] did not match expected type [*.*.*.UnidadePK (n/a)]`, so I want some

[2020-12-14 16:36] beikov commented on #1235
Hi Alex,

what kind of query are you using i.e. can you share a full stack trace?

The mapping you have looks fine, so there must be an issue with the code that queries the data.

[2020-12-14 16:49] alexferreiradev commented on #1235
Sorry, i found the error. I was trying to use find with the ID, but I need the UnidadePK object:

`UnidadeView unidadeView = evm.find(em, UnidadeView.class, unidadePK);`

but I was using:
`UnidadeView unidadeView = evm.find(em, UnidadeView.class, ciGerencia.getUnidadeID());`

Thank you so much. Sorry for the time wasted.

[2020-12-14 16:49] #1235 closed

[2020-12-14 16:50] beikov commented on #1235
No problem :)

[2020-12-15 16:12] #1207 closed

[2020-12-15 22:33] #1208 closed

[2020-12-18 02:28] HLLavender opened #1238 "how to use 'SQL_CACHE' in select statement"

[2020-12-18 02:54] HLLavender commented on #1238
mysql statement: SELECT SQL_CACHE a.name,sum(a.cost)  from a

[2020-12-18 09:37] beikov commented on #1238
This is not supported, but you can implement this yourself if you want. Create a custom JpqlFunction as described here: https://persistence.blazebit.com/documentation/1.6/core/manual/en_US/#custom-jpql-functions

The function would look like this:

[code]

and in your query, you use this for the first select item e.g. `select SQL_CACHE(a.name), sum(a.cost) from a`

[2020-12-19 00:32] hanserya opened #1239 "Alias bug in Generated SQL After Adding Lateral Join"
### Description
The title is pretty explanatory. Something in the framework is resulting in a bug when choosing the appropriate table alias to use when the same entity is joined to a query through CTEs or sub selects. If I correct this one alias in the generated SQL manually, then it runs correctly on the database via OmniDB.

Here are the immediately relevant instructions issued to create the cri

[2020-12-19 02:27] hanserya commented on #1239
OK, I think I have worked around the problem. I still need to make sure this doesn't add excessive overheard but luckily the vast majority of the heavy lifting is already done by the time we get to this step. I think it will turn out fine and should be able to stick with this toolkit for the time being.

I've gone back and refactored the query builder instructions to instead pull this data into th

[2020-12-19 06:23] jwgmeligmeyling commented on #1239
Which Hibernate version are you using? There seems to have been a join regression in a late 5.4.x (https://github.com/Blazebit/blaze-persistence/pull/1237).

[2020-12-19 13:51] beikov commented on #1239
Thanks for the detailed description @hanserya. There are indeed join issues in Hibernate 5.4.23+ and this could be the cause for the problem that you are seeing here. Could you try downgrading to 5.4.23 and check again? I am already working on a fix for that join related issue, so maybe Hibernate 5.4.27.Final will work fine again.

I'll try to reproduce your issue in our test suite. It would help

[2020-12-19 15:34] beikov opened #1240 "Explicit association joins are not rendered into the respective "table reference""
When we write a query like the following:

[code]

We currently render it as the following HQL:

[code]

which is wrong, because the join is now part of the second group i.e. what SQL calls "table reference". A table reference can not refer to other table references, unless lateral is used, so one way around this would be to avoid rendering table references at all and instead render joins, but I'm

[2020-12-19 15:49] jwgmeligmeyling commented on #1240
How would

[code]

be rendered then? Would it convert the table reference to an inner join?

Personally I wouldn't be surprised if both builders returned the same - problematic - JPA and SQL, because to me it seems to make quite some sense that all `from` clauses are processed first.

[2020-12-19 15:52] beikov commented on #1240
That would render as:

[code]

Internally, we respect the order of explicit joins/from items the user gives us which is why this is an issue right now. Unfortunately, JPA does not have a cross join, so re-interpreting the "table reference" as cross join by doing a `a join b on 1=1` is the best we can do.

[2020-12-19 15:53] jwgmeligmeyling commented on #1240
Woah, never knew that was valid syntax 😄  No wonder it was overlooked.

[2020-12-20 10:03] beikov commented on #1238
I'll close this issue for now. If you have further questions, feel free to comment here.

[2020-12-20 10:03] #1238 closed

[2020-12-20 14:34] #1240 closed

[2020-12-20 23:01] hanserya commented on #1239
Sorry for the lateness in my reply. I am actually running Hibernate 5.3.17. Unless I am mistaken, that is the version of Hibernate that is currently provided by my version of Spring Boot.

We have work planned to upgrade our version of Spring Boot further, but we are in the unfortunate (and familiar) position of having inherited a code base where the prior developers implemented various "customiza

[2020-12-20 23:15] jwgmeligmeyling commented on #1239
The regression mentioned was only introduced in Hibernate 5.4.23+, so it cannot have caused the issue in 5.3.17.

Could you please share the full query? Generally both the JPQL query string (the outcome of `criteriaBuilder.getQueryString()`) and the produced SQL turn out to be very useful for us.

[2020-12-21 09:57] beikov commented on #1239
That's fine then. We only wanted to rule out issues due to join problems in Hibernate. No need to upgrade then.

Sure, totally understand that. No rush :)

[2020-12-24 03:10] #1124 closed

[2020-12-25 12:13] beikov opened #1243 "Remove by owner id of map attributes wrongly uses attribute name instead of mapping for JPA collection attribute name"
We simply used the wrong variable in MapAttributeFlusher for the remove by owner id handling. Up until now, we didn't run into issues because usually the entity view attribute is named the same as the JPA attribute.

The workaround is to rename the method/attribute.

[2021-01-10 14:06] beikov commented on #409
The emulation for this was mainly aimed to fix issues with EclipseLink, but it's impossible to fix this for EclipseLink as it has a broken entity join rendering as well which makes this impossible.

[2021-01-10 14:06] #409 closed

[2021-01-10 14:15] beikov commented on #188
As this transformation oftentimes requires the addition of a select item and grouping by all select items, I decided to not implement this as the performance is probably way worse than using a subquery.

[2021-01-10 14:15] #188 closed

[2021-01-11 09:11] #1174 closed

[2021-01-13 18:21] slyoldfox opened #1247 "NullPointerException when using spring-boot-devtools"
### Description
Created the demo project using the spring-boot maven archetype:
`mvn archetype:generate "-DarchetypeGroupId=com.blazebit" "-DarchetypeArtifactId=blaze-persistence-archetype-spring-boot-sample" "-DarchetypeVersion=1.5.1"`

Add the spring-boot-devtools dependency:
[code]

### Expected behavior
The Application should startup.

### Actual behavior
Application startup fails with NullPoi

[2021-01-13 18:22] beikov commented on #1247
Hi, please note that there is no out of the box integration with dev tools yet as you can read here: https://persistence.blazebit.com/documentation/1.5/entity-view/manual/en_US/#spring-boot-devtools

[2021-01-13 18:23] slyoldfox commented on #1247
Yes I saw the documentation about it, but it seems to work fine here after this fix (as far as I can see?)

[2021-01-13 18:24] beikov commented on #1247
I'm open for any contributions in this area and it might very well be that easy, but I am not dev tools expert, so to be honest, I don't know. If it works for you with this fix, please open a PR and I'll integrate it :)

[2021-01-13 18:38] slyoldfox commented on #1247
I gave it a go to fix this, I hope this works out :-)

General rule of thumb is use the ClassLoader as much as possible instead of using the Class.forName constructs - so I'm not sure if there might be other issues still around (just starting out with the demo).

[2021-01-14 11:58] #1247 closed

[2021-01-21 07:13] Mobe91 opened #1250 "Simple bootstrapped Quarkus application fails with Multiple Blaze-Persistence instances error"
Refers to https://github.com/quarkusio/quarkus/issues/14445

[2021-01-21 08:02] #1250 closed

[2021-01-22 22:17] beikov opened #1253 "Method reflection data missing for entity view bootstrap"
[`com.blazebit.persistence.integration.quarkus.deployment.BlazePersistenceProcessor#263`](https://github.com/Blazebit/blaze-persistence/blob/e80f12bb979aa0139b4d640f80383be5a1b6aa61/integration/quarkus/deployment/src/main/java/com/blazebit/persistence/integration/quarkus/deployment/BlazePersistenceProcessor.java#L263) currently does not add the method reflection data: `reflectionProducer.produce(n

[2021-01-25 01:22] Mobe91 opened #1254 "Hibernate version detection randomly fails in Quarkus integration"
For details and cause see the corresponding [Quarkus issue](https://github.com/quarkusio/quarkus/issues/14560).

[2021-01-25 03:40] Mobe91 commented on #1253
Your suggested approach was what I tried during the initial development of the Quarkus extension. However, it's not possible because `EntityViewConfiguration` is not `Serializable`. Here is an exempt of the exception that gets thrown during image build with this approach:
[code]

Apart from that, I was not able to consistently reproduce this issue with the example project provided, independent of

[2021-01-25 08:55] beikov opened #1255 "GraphQL integration errors on multiple use of enum type"
The current GraphQL integration produces an error when an enum is used multiple times in a GraphQL model:

[code]

[2021-01-25 09:43] beikov commented on #1253
Like I told you, I was able to reproduce this consistently with the example project.

Does the exception happen during build time or runtime? If it happens at runtime, we might be able to get away with registering `@Substitution` for fields in `EntityViewConfigurationImpl` etc. to make them non-final and add setters so that de-serialization at runtime works. Too bad that setting final fields doesn

[2021-01-25 12:20] beikov commented on #1253
Seems like the serialization approach won't work for now, but could be done as an improvement for a future Quarkus version: https://quarkusio.zulipchat.com/login/#narrow/stream/187038-dev/topic/BytecodeRecorder.20for.20complex.20build.20items

[2021-01-25 12:43] beikov commented on #1253
After thinking more about this and understanding the reasoning, I think the only viable approach is to adapt the configuration code such that we can use the `BytecodeRecorder` substitutions for a custom serialization/deserialization protocol.

Maybe it's enough to introduce a few constructors in implementations for Quarkus to be able to set the final fields and setters for setting mutable fields.

[2021-01-25 14:04] beikov opened #1256 "Move entity view annotation reading to Quarkus build time"
This is a follow up of https://github.com/Blazebit/blaze-persistence/issues/1253

The task is to adapt the configuration code such that we can use the BytecodeRecorder substitutions for a custom serialization/deserialization protocol.

Maybe it's enough to introduce a few constructors in implementations for Quarkus to be able to set the final fields and setters for setting mutable fields. Since we

[2021-01-25 17:31] Mobe91 commented on #1253
The exception happens during build time.

[2021-02-01 15:27] #1243 closed

[2021-02-01 21:28] #1253 closed

[2021-02-02 09:58] beikov opened #1258 "Coalesce inverse collection operations"
When we remove and add elements to an inverse collection, we currently don't care about optimizing this as we thought that object identity would stay the same, but due to copying/converting it can occur that an element with the same primary key but different object identity is added/removed.

This actually already causes issues. When removing o1 and adding o2 (o1 and o2 have the same primary key)

[2021-02-02 10:52] beikov opened #1259 "Add support for lazy loading"
It was mentioned to me that lazy loading might be of interest for some use cases where some data is only needed in certain dialogs/wizard steps. My suggestion was to simply load that through the usual means (repository, service or whatever pattern is used). Since updatable entity views support the use of subtypes for associations, the newly loaded objects can just be attached to the "container obj

[2021-02-03 15:22] beikov opened #1260 "Ignore GarphQL __typename Meta field in entity view integration"
The Apollo Client sends `__typename` as field which obviously is no entity view attribute. We have to ignore that field when applying entity view fetches. See here for reference: https://graphql.org/learn/queries/#meta-fields

[2021-02-03 16:27] #1260 closed

[2021-02-09 15:19] beikov opened #1262 "Annotation processor generates wrong casts when using annotations on getters"
The return type of a method (`ExecutableElement`) is `Type$AnnotatedType` instead of `Type$ClassType` etc. if the method is annotated and uses the target bytecode version for Java 8. This causes to generate casts like `(@javax.annotation.NotNull java.lang.String)` so we need to unwrap the type.

[2021-02-09 15:50] #1262 closed

[2021-02-11 16:23] alexferreiradev opened #1264 "Are there some way to use filter contains or "like" with integer ?"
### Description

I need some way to use filter in a entity atributte Integer to make a sql like:
`"select * from entity where id like '576031%' "`
Are there some way to do that ? I tried with `ContainsFilter`, but receive:
`Parameter value [%576031%] did not match expected type [java.lang.Integer (n/a)]`

I tested my MSSQL with a native sql and works fine. The SGBD convert the id to text and use l

[2021-02-11 16:26] beikov commented on #1264
Hi @alexferreiradev

if you want a string search, you will have to do a cast in the mapping. Also, to do a prefix search, you can use the `StartsWithFilter`.

[code]

[2021-02-11 16:27] beikov commented on #1264
This is an SPI, so you could even create a custom filter if you want to do the cast just for the filter. See https://persistence.blazebit.com/documentation/1.5/entity-view/manual/en_US/#custom-filters for more information on this topic.

[2021-02-11 16:43] alexferreiradev commented on #1264
Thank you for the fasted answer. I did not know about the cast way, I will use that. Thank you.

[2021-02-11 16:43] #1264 closed

[2021-02-11 16:44] beikov commented on #1264
Glad I could help you :)

[2021-03-06 10:38] beikov opened #1265 "Inverse side of many-to-many can't use query flushing"
The example is something along the lines of this:

[code]

and the entity views:

[code]

This currently fails:

[code]

The problem is that the collection uses a inverse flusher which doesn't support query flushing. The entity flushing fails though because it tries to load the collection, although there is no nestedGraphNode:

[code]

[2021-03-06 12:58] EugenMayer opened #1266 "Support spring 2.4.3"
### Description
When using BP with Spring Boot to 2.4.3+ (works with 2.4.2) an exception is thrown.

### Expected behavior
No exception :)

### Actual behavior
[code]
### Steps to reproduce

### Environment

Version:  1.6.0-Alpha2
JPA-Provider: Hibernate
DBMS:  Mariadb 10.3

[2021-03-06 16:43] EugenMayer commented on #1266
Fairly simple to fix i guess - you are using the inherited field directly, but they renamed it to `defaultObjectMapper`. You should just migrate to `getObjectMapper()` and be compatible with pre <=2.4.2 and higher

[2021-03-07 12:37] beikov commented on #1266
Merged via 0cbe70e3b8070c7879de64d472e29340ec81106b

[2021-03-07 12:37] #1266 closed

[2021-03-13 11:31] beikov opened #1268 "Try create jackson deserializer based on statically generated implementations"
The current implementation works by using the `EntityViewManager` which is problematic when trying to test just the representation layer i.e. the HTTP layer. We could provide an alternate implementation that works with the statically generated implementation classes of entity views directly.

[2021-03-14 09:38] beikov opened #1269 "Allow configuration through Spring Boot configuration mechanism"
It would be cool if we could auto-apply configuration properties from Spring Boot configuration files somehow such that users can have a central place for the config.

[2021-03-14 10:09] beikov opened #1270 "Issues with Optional when using annotation processing"
The annotation processor generates for the static metamodel `SingularAttribute<X, Optional>` i.e. without the parameter types which is unfortunate. IMO we should somehow make sure it uses the actual target type instead.
Apart from that, the impl classes initialize null for Optional, which is a bummer. IMO we should try to register some defaults.

On top of that, the runtime uses `java.util.Optiona

[2021-03-14 10:10] EugenMayer commented on #1270
Thank you for working on that one!

[2021-03-14 10:12] beikov commented on #1270
Another issue that came up is, that the generated implementation classes require the static metamodel to work properly. To prevent possible NPEs due to that, we should validate the configuration i.e. generating just implementation without static metamodel should be disallowed. Also, disabling static metamodel scanning without also disabling implementation scanning should be disabled as well.

[2021-03-14 10:46] beikov commented on #1270
Another issue that just came up is that the generated builders use a wrong type parameter i.e. the inner class `Init` extends the base builder but passes `EntityViewBuilder<View>` as type parameter, although it should pass `Init` so that fluent building works.

[2021-03-22 10:14] beikov opened #1273 "Nested join correlations problems due to join base missing"
We already create tuple transformers in top-to-bottom view-order to create joins in the proper order, but #708 did not consider that join correlations could happen in deeper levels i.e. when the correlation is used in a collection element type. This leads to assuming a join is available although it is not yet, leading to an exception. To solve this, we must also create the transformator levels in

[2021-03-22 12:04] #1258 closed

[2021-03-22 12:04] #1273 closed

[2021-03-22 20:55] beikov opened #1274 "Set operation query using object builder fails to bind parameters"
As shown in the example of this discussion (https://github.com/Blazebit/blaze-persistence/discussions/1271#discussioncomment-514157) there is an issue with the parameter binding of queries that use an object builder, in this case, an object builder for `Tuple` was implicitly used.

[2021-03-23 08:38] beikov opened #1276 "Set operands with limit not wrapped in parenthesis for PostgreSQL"
While working on #1274 I realized that for PostgreSQL we are not wrapping the set operands in parenthesis if they use order by/limit which leads to a syntax error in some cases.

[2021-03-23 10:19] #1274 closed

[2021-03-23 10:19] #1276 closed

[2021-03-27 16:54] beikov commented on #695
I will not deviate from what the JPA specification says about the `SIZE` function which is, that the last attribute in the path must be a plural attribute and for that, it will determine the count. To count the overall size of all elements, one will have to write a subquery.

[2021-03-27 16:54] #695 closed

[2021-03-27 18:05] #1200 closed

[2021-03-27 19:46] #840 closed

[2021-03-27 19:50] #1255 closed

[2021-03-30 08:57] mickroll opened #1281 "HibernateEntityManagerFactoryIntegrator evaluates wrong DBMS name when using Hibernate with MariaDB103Dialect and H2"
### Description

DBMS name determination fails for H2 in MariaDB-Mode.
Logged output is
[code]

### Expected behavior
DBMS name is evaluated as `mysql8`

### Actual behavior
DBMS name is evaluated as `mysql`
-> database functions newer than mysql5/mariadb5 are not usable

### Steps to reproduce

1. use jdbc connection: `url: jdbc:h2:mem:maindb;MODE=MySQL;DATABASE_TO_LOWER=TRUE;;init=SET collation

[2021-03-30 09:35] beikov commented on #1281
Hi @mickroll,

thanks for the report. I'll try to adapt the code to try to rely more on the dialect, but since the MySQL8 Dialect was only added in a very late Hibernate version, the connection acquisition is sometimes necessary. It would be a bummer not to support detecting MySQL8 for older Hibernate versions or when people use a custom dialect.

Apart from that, you won't be able to use the `jso

[2021-03-30 10:15] mickroll commented on #1281
@beikov Thanks for the explanation on H2!

My intent was to get rid of the warning `Could not register the function 'json_get'` in our builds, i do not think we wil be using `json_get` at all. But good to know that H2 still has some compatibility work to do :)

Waiting for 1.6.0 😀

[2021-03-30 11:31] mickroll commented on #1281
Also, the code above seems to be leaking connections, in the case a new entitymanager was newly created. Closing the entitymanager does not close the underlying connection. But i am not sure about the expected lifecycle of those connections, so take this with a grain of salt. Just wanted to mention it.

[2021-03-30 12:38] beikov commented on #1281
It should. Or do you have a case that shows this is a problem?

[2021-03-30 18:13] beikov opened #1282 "Quarkus hot reload does not work when adding a new method to a view"
It looks like hot reloading does not work properly. @ahofmeister reported that adding a method/attribute to a view is causing the following issue after hot reload:

[code]

It seems there might be a class loader issue.

[2021-03-31 15:31] Lightmoor opened #1283 "NumberFormatException in OracleDbmsLimitHandler"
Hello I found a NumberFormatException in OracleDbmsLimitHandler.

I try to search over different entitys (AntragBlau, AntragRot) via union.
The result typ is a custom CTE.

When I select all elements it works fine, but when I add maxResult and firstResult it crashed.
With page instead of setMaxResults and setFirstResult the same issue.

I debug a litte in saw in AbstractDbmsLimitHandler the 5 is r

[2021-03-31 16:29] beikov commented on #1283
Thanks for the bug report. Let's see what the tests say :)

Can you verify if this fixes your issues? https://github.com/Blazebit/blaze-persistence/pull/1284

[2021-04-01 07:47] beikov opened #1285 "Investigate possible issue with innerJoinOnSubquery"
### Description

According to https://stackoverflow.com/questions/66744651/blaze-persistence-join-on-subquery-issue there seems to be an issue with the SQL, but I'm not sure if this is due to a Hibernate issue or Blaze-Persistence. AFAICT, the aliasing doesn't happen which leads to column reference not found issues.

[code]

### Expected behavior

### Actual behavior

### Steps to reproduce

### E

[2021-04-01 09:27] Lightmoor commented on #1283
Helllo beikov,
thank you for the fast replay.
The Fix looks fine and works for me.

Thank you!

[2021-04-01 09:28] #1283 closed

[2021-04-01 09:28] beikov commented on #1283
Thanks for confirming!

[2021-04-06 11:19] mickroll commented on #1281
From what i can see by debugging our application, hibernate on H2 does not close the logical connection, because the underlying physical connection is not present. Have to check as soon as we have a real MariaDB to connect to.

Nevermind, that's completely out of scope of this issue.

[2021-04-12 08:59] beikov opened #1286 "Avoid converting nested entity view objects if not needed"
When converting a view `AView` which declares and attribute `b` of type `BEditView` with an attribute `c` of type `CView`, the object for the attribute `b` is converted to the BEditView type if a subtype e.g. `BCreateView` is encountered.

The problem now is, that we also convert `c` to `CView` again. We should try to avoid nested conversion if unnecessary. There should probably be a convert optio

[2021-04-13 09:59] beikov opened #1288 "Entity view remove with cascading deletes unnecessarily creates joins in DML"
It was reported that `evm.remove(em, RecipeIdView.class, id)` for a mapping like:

[code]

generates unnecessary joins in the DML for the deletion:

[code]

I guess the collection DML handling in core is not handling the single-valued-id optimization properly, but I haven't analyzed this yet.

[2021-04-13 19:53] beikov opened #1289 "Using mapping singular collections in updatable entity view fails to parse with jackson"
It seems there is an issue with the deserialization. See the following reproducer: https://github.com/ahofmeister/bp-attribute-converter-reproducer

[2021-04-18 14:08] #1270 closed

[2021-04-18 15:38] #1175 closed

[2021-04-19 05:42] EugenMayer commented on #1270
Thanks for working on that one!

[2021-04-19 10:34] #1281 closed

[2021-04-20 09:41] #1082 closed

[2021-04-20 09:59] garfieldcoked opened #1294 "Entity literal preferred over path in parsing when entity name and attribute names conflict"
### Description
Hi, I recently discovered Blaze Persistence and so far has been great at solving some issues I was having. I have arrived at a particular issue that I cant seem to find the solution for.
I am trying to use nested view for ManyToOne mapping but gets an error, this is not a bug report but more of a request for help.

### Entities
_Some fields removed for simplicity_

#### Subject
[co

[2021-04-20 10:05] beikov commented on #1294
Hi,

this could be an issue with the `targetEntity` configuration in `@ManyToOne(targetEntity = SchoolImpl.class)`. We actually have tests for these kinds of mappings, so I am a bit surprised that this doesn't work in your case. Do you think you could create a reproducible test case with this test case template? https://github.com/Blazebit/blaze-persistence-test-case-template

[2021-04-20 10:07] garfieldcoked commented on #1294
Hi @beikov, thank you for the quick response. I will create one and get back to you.
Thanks

[2021-04-21 09:05] beikov opened #1295 "Add Cockroach DBMS detection and DbmsDialect implementation"
The `EntityManagerFactoryIntegrator` implementations just need to override the `getDbmsName` method and additionally check for e.g. Cockroach similarly to what we did for MariaDB.

[2021-04-21 13:53] beikov opened #1296 "Support JPA lifecycle annotations in addition to entity view lifecycle annotations"
It happened a few times already that the wrong annotation was imported e.g. `javax.persistence.PrePersist` instead of `com.blazebit.persistence.view.PrePersist`. We should support the JPA annotation as well and emit a warning.

[2021-04-21 14:11] EugenMayer commented on #1296
Just as a sidenote, there is also `javax.persistence.PreUpdate` which is problematic in the same way. Thanks for having this one on the radar

[2021-04-21 14:12] beikov commented on #1296
Almost all entity view lifecycle annotations have a counterpart in JPA, although Entity-Views have a few more.

[2021-04-22 10:50] #1289 closed

[2021-04-22 10:50] #1295 closed

[2021-04-22 11:39] beikov commented on #1294
The problem is that the entity name of `SchoolImpl` is `school` and the attribute name in `SubjectImpl` is also called `school`. The parser treats the string `school` as entity literal rather than path expression. I'll work on a fix for that, but for now, you would have to rename the attribute or the entity names. I would suggest you use upper case entity names (the default) to avoid this.

[2021-04-22 11:48] beikov commented on #1294
You could workaround the type checking issue by using the `VIEW` macro, which will qualify the path:

[code]

[2021-04-22 15:49] beikov opened #1299 "Remove view by id with cascaded collection having embedded id fails"
`evm.remove(em, MyView.class, id)` fails if `MyView` contains a collection with cascade delete, when the id of the element type is an embeddable. The problem is, that the InverseFlusher passes entity ids to the deleter, but for views, it expects view ids.

[2021-04-23 07:51] garfieldcoked commented on #1294
@beikov, thank you for this feedback. I was troubleshooting and arrived at the same conclusion that it was being treated as a literal (even though I did not know what that meant :D)

<img width="909" alt="Screenshot 2021-04-21 at 23 15 17" src="https://user-images.githubusercontent.com/3318304/115836858-e21dca80-a40f-11eb-8906-a193068e7713.png">

I dug a bit further into why it was being treated a

[2021-04-23 07:55] beikov commented on #1294
So in JPQL/HQL there are two ways to refer to an entity. Through the FQCN and the entity name. The name you specify in `@Entity(name = "")` is the entity name. This is mostly important for doing type checks e.g. `WHERE TYPE(e) = School` in polymorphic scenarios. Anyway, usually, people use upper case entity names and if you omit the name, it will use the simple class name as entity name by default

[2021-04-23 07:56] garfieldcoked commented on #1294
Confirming that changing to uppercase also removed the error

[2021-04-23 07:56] #1294 closed

[2021-04-23 07:56] #1299 closed

[2021-04-23 08:06] garfieldcoked commented on #1294
@beikov, thanks again for your help with this...really appreciate it! And thanks for a great library, wish I found it sooner!

[2021-04-23 08:08] beikov commented on #1294
Spread the word ;)

[2021-04-23 10:11] EugenMayer commented on #1299
Thank you!

[2021-04-25 13:59] EugenMayer commented on #1299
It has fixed one of 2 cascade scenarios.

Using 1.6.0 i get

[code]

Seems to be some wrong JPQL expression?

[2021-04-25 14:00] beikov commented on #1299
Maybe. Could you show me the model?

[2021-04-26 09:09] beikov opened #1300 "Support polymorphic entity views in JAX-RS endpoint"
See https://stackoverflow.com/questions/67232469/blaze-persistence-entityview-inheritance-mapping for details.

The idea is to make use of `@JsonTypeInfo` from Jackson to construct a subtype instead of the declared type.

[2021-04-26 17:49] euks commented on #1300
Hi, I'm the one who made the question on stackoverflow. I needed to deserialize (in a jaxws operation) my entity views organized in a hierarchy. I made it work using jackson annotation for inheritance. This is the base view:
[code]
And here's a subview:

[code]

[2021-04-26 19:08] beikov commented on #1300
Hi, so does this configuration you have there already work? Or is that what you would like to use?

[2021-04-26 20:41] euks commented on #1300
This configuration already works

Il giorno lun 26 apr 2021 alle 21:08 Christian Beikov <
***@***.***> ha scritto:

[2021-04-27 06:34] beikov commented on #1300
Interesting. So what is it that does not work?

[2021-04-27 10:41] euks commented on #1300
Nothing. It works like a charm. I hadn't try the Jackson annotations cause I thought they were not supported.

[2021-04-27 10:44] beikov commented on #1300
Ahh, that's nice. I wasn't aware that this is working correctly to be honest 😄

[2021-04-29 07:17] #1300 closed

[2021-05-04 11:08] beikov opened #1305 "Quarkus native image processor missing some reflection registration"
It looks like we forgot to register certain executors for reflection access. See this Stackoverflow question for details: https://stackoverflow.com/questions/67344054/blaze-persistence-null-pointer-exception-when-updating-entities-in-native-quarku

[2021-05-06 12:27] sullrich84 opened #1306 "NPE on Delete Cascade"
### Description
I'm getting an NPE when trying to delete an entity with an empty `@OneToOne(cascade=DELETE, optional=true)` relation in BP's DefaultUpdateContext:

https://github.com/Blazebit/blaze-persistence/blob/aca8349abd3605a56a87c6d126c146795d791848/entity-view/impl/src/main/java/com/blazebit/persistence/view/impl/update/DefaultUpdateContext.java#L906

In my case, `entityId` is `null` when t

[2021-05-06 12:28] sullrich84 commented on #1306
Will provide a reproduces as soon as possible.

[2021-05-10 14:23] sullrich84 opened #1307 "Generated EntityViewImpl constructor will throw NPE for additional @Mapping collection fields"
### Description

Generated `CatWithKittenViewImpl` constructor will throw `NullPointerExceptions` for additional `@Mapping` collection fields. See the following scenario:

    public interface CatWithKittenView extends CatIdView {
		@Mapping("kittens[gender=com.example.Gender.MALE].owner")
		Collection<PersonIdView> getMaleKittenOwners();
	}

The generated `CatWithKittenViewImpl` constructor:

	pu

[2021-05-10 14:27] beikov commented on #1307
Did you set the `com.blazebit.persistence.view.static_metamodel_scanning_disabled` to `true`? https://persistence.blazebit.com/documentation/1.6/entity-view/manual/en_US/#STATIC_METAMODEL_SCANNING_DISABLED

The static implementations do not work when disabling this setting.

[2021-05-10 16:01] beikov opened #1308 "NPE when flushing updatable entity view with plural mapping for element collection using embeddable types"
See the reproducer here https://github.com/ahofmeister/bp-collection-updating-reproducer

The exception seems to be:

[code]

I think this can be worked-around by using an `@UpdatableEntityView` for the embeddable type instead.

[2021-05-11 04:19] ahofmeister commented on #1308
I don't think, the workaround will work. I added `@UpdatableEntityView` to the `FoodUnitUpdateView` and replaced it in the `FoodUpdateView`, started the test and t's the same exception and the same Stacktrace.

[2021-05-11 13:00] sullrich84 commented on #1307
We have `com.blazebit.persistence.view.static_metamodel_scanning_disabled`, `com.blazebit.persistence.view.static_builder_scanning_disabled` and `com.blazebit.persistence.view.static_implementation_scanning_disabled` set to `true`

[2021-05-15 08:36] beikov commented on #1307
Can you please confirm if enabling the scanning resolves your issue?

[2021-05-27 11:11] ahofmeister opened #1310 "@EntityViewId is set to child collection mappings"
### Description
Use case: Trying to update `ingredients` for a `Recipe` via PATCH request

Having following request with JAX-RS
[code]
and mapping in the `RecipeUpdateView`

[code]

leads to an unexpected pass through of the id to all ingredients.

[code]
In above output, the id of the recipe (OrVijZ) and the id of the ingrdient are equal.

### Expected behavior

The `id` of the `ingredients` shou

[2021-06-01 12:44] EugenMayer opened #1312 "Enum fields with an Converter are not supported during partial updates"
### Description
When having an `Entity` with an enum which is using an converter like

[code]

And then using an update view which uses partial updates like

[code]

It will always throw an exception like that the  attribute converter `UserLanguageConverter` cannot convert `null`.

### Expected behavior

Due to the partial update mode, it should not try to set / convert that enum / field `language

[2021-06-02 11:09] EugenMayer commented on #1312
This was a false positive all the way down.

In the end it was a wrong, unexpected database value (empty string .. not just null) which could not be handled when the entity was loaded during the entity flush strategy.

Sorry!

[2021-06-02 11:12] #1312 closed

[2021-06-05 09:18] #1170 closed

[2021-06-05 09:18] #1285 closed

[2021-06-05 09:18] #1305 closed

[2021-06-05 09:18] #1308 closed

[2021-06-09 15:56] beikov opened #1313 "Invalid SQL generated for inlining of subquery CTE"
### Description

### Expected behavior

### Actual behavior

### Steps to reproduce

See reproducer: https://github.com/Blazebit/blaze-persistence/pull/1314

### Environment

Version:            1.6.0
JPA-Provider:       -
DBMS:               -
Application Server: -

[2021-06-14 18:05] beikov opened #1316 "Support incremental compilation for annotation processor"
The task is to add a properties file(https://docs.gradle.org/current/userguide/java_plugin.html#sec:incremental_annotation_processing) and test that incremental compilation works correctly with Gradle, possibly adapt some parts to make it work. The Hibernate annotation processor, which is similar to ours, works in the isolating mode, so I think that we should be able to do that as well.

[2021-06-15 06:14] sullrich84 commented on #1307
Removing the `entityViewConfiguration.setProperty("com.blazebit.persistence.view.static_metamodel_scanning_disabled", "true");` solved the reported issue 👍🏻

[2021-06-15 06:14] #1307 closed

[2021-06-15 06:27] beikov commented on #1307
Thanks for confirming!

[2021-06-26 21:26] kekbur opened #1317 "Efficient Entity View Result Streaming"
JPA 2.2 added the method `getResultStream()` to the `TypedQuery` interface with a default implementation that first loads all the results into memory and then returns a stream.

Blaze Persistence has multiple classes which implement `TypedQuery`, for example `ObjectBuilderTypedQuery` and `TypedQueryWrapper`.

I would suggest adding implementations of `getResultStream()` to those classes so that th

[2021-06-28 05:28] beikov commented on #1317
Hi,

I don't think this will in general do what you want unfortunately. It's a bit more complex when collections are involved, but maybe there are none in your case and it's fine? Anyway, there is an open issue about supporting this #254

I will still try to see what I can do about this specific issue. Thanks for the report!

[2021-06-28 07:24] kekbur commented on #1317
You're right, there are no collections involved in my use case. Thanks for looking into this.

[2021-06-28 09:53] beikov opened #1318 "Fetching only certain correlated subview attributes leads to fetching all null"
Using `EntityViewSetting.fetch("correlatedAttribute.subAttribute")` will lead to fetching just nulls because we don't properly un-prefix the fetches when building the sub-configuration.

[2021-07-08 05:37] #1310 closed

[2021-07-08 05:37] #1313 closed

[2021-07-08 05:37] #1316 closed

[2021-07-08 05:37] #1318 closed

[2021-07-12 21:07] jcputney opened #1321 "Issue with LocalDate as literal in 1.6+"
### Description
Our application is working just fine in 1.5, but when we try upgrading to 1.6, we all of a sudden start seeing query exceptions when trying to use LocalDate/LocalDateTime as literals in the criteria builder.

### Expected behavior
Dates get properly parsed into the query

### Actual behavior
We get an error message that says `java.lang.IllegalArgumentException: org.hibernate.QueryE

[2021-07-13 09:32] beikov commented on #1321
Thanks for the report. I'll look into it next week when I'm back from my vacation :)

[2021-07-13 09:40] jwgmeligmeyling commented on #1321
How did it get parsed on 1.5? Because `{d '2021-07-12'}` seems a valid date literal to me. Were your prior tests also against Hibernate 5.3.20.Final?

[2021-07-13 11:32] jcputney commented on #1321
@jwgmeligmeyling not sure, is there a way to check what was being parsed? The only way I can tell right now is because I'm receiving the error message. Yes, it was working on 1.5/1.5.1 on Hibernate 5.3.20.Final.

[2021-07-14 06:57] 943739901 opened #1322 "how to use .where() build the condition (A and B）or (C and D)"

[2021-07-14 07:21] beikov commented on #1322
Hi, you would use something like the following

[code]

[2021-07-14 07:22] #1322 closed

[2021-07-14 07:39] 943739901 commented on #1322
Thank you very much, I just realized that mysql "and" has a higher priority

[2021-07-14 07:40] beikov commented on #1322
That's like that in every programming language. You're welcome 😊

[2021-07-16 03:15] 943739901 opened #1323 "how to build like querydsl .where(A.and(B).or(C)).where(D.and(E).or(F))"
I am coding a util to build dynamic conditions. convert json into conditions.
data format like this
[code]
may be multiple arrays.
I used many "if" adapting "whereAnd" and "whereOr", because I must know when to end them.
Is there a method like this?

.where(A.and(B).or(C))
.where(D.and(E).or(F))

 I did not find how to code like above from doc.  (I don’t really want to generate Q class if there ar

[2021-07-16 08:14] jwgmeligmeyling commented on #1323
Assuming you use the Blaze-Persistence CriteriaBuilder API and not the Blaze-Persistence Querydsl integration (in the latter case, it would work the same as you're accustomed to in Querydsl).

For the `CriteriaBuilder` API you would need to use the `whereOr` and `whereAnd` builder modes:

[code]

[2021-07-18 13:49] ahofmeister opened #1324 "Annotation Processor generates invalid import statements with annotations like NotNull"
### Description

Using javax.validation annotations with annotation processor generates invalid import statements for the view implementation and the view builder.

The use case was to use those annotations in order to validate incoming views from JAX-RS requests, like `NotNull`.

### Expected behavior

I expect the annotation processor to generate a valid view class implementation.

### Actual be

[2021-07-19 11:28] beikov commented on #1324
Thanks for the report and reproducer. I'll look into it as soon as possible.

[2021-07-19 11:30] beikov commented on #1321
The exception suggests that the literal is passed through to HQL but it doesn't support the JDBC escape syntax properly. For this purpose, we actually created some emulations if I remember correctly, but these are conditional based on the Hibernate version. Are you running with an uber jar maybe @jcputney ?

[2021-07-19 13:30] jcputney commented on #1321
@beikov No, we're just using the version built into Wildfly 24

[2021-07-19 16:15] beikov commented on #1321
It would be awesome if you could share a reproducer for this because we actually have a test for this. You can add your reproducer to that test if you like: https://github.com/Blazebit/blaze-persistence/blob/master/core/testsuite/src/test/java/com/blazebit/persistence/testsuite/TemporalLiteralRenderingTest.java

[2021-07-21 12:29] 943739901 commented on #1323
Is there only this way ?

[2021-07-21 17:00] jwgmeligmeyling commented on #1323
There is also .setWhereExpression(“a OR b”)

[2021-07-22 02:09] 943739901 commented on #1323
thank you , Finally I solved the problem with 'whereOr'

[2021-07-25 09:24] beikov commented on #1212
Blocked by https://github.com/smallrye/smallrye-graphql/issues/926 and https://github.com/smallrye/smallrye-graphql/issues/927

[2021-07-25 09:55] #1323 closed

[2021-07-26 22:21] EugenMayer opened #1325 "Upgrade graphql integration to graphql-java 16.0"
The current integration is based on the outdated graphql-java 5.x version which is no longer binary compatible with graphql-java 16.0 and thus blaze-persistence could not be used with netflix-dgs in others.

Port the current implementation to 16.0

[2021-07-28 03:16] 943739901 opened #1327 "how to return the object type is resultClass"
[code]
[code]
first:
[code]
it will return the real object type is` List<Object[]>`

second:
[code]
it will return the real object type is `List<ScExStudent>`

jsut now i found this is Encapsulation the em.createQuery

is there api to convet to the real object type `List<ScExStudentRespDTO>`?

i found the selectNew().with().end()
Is there any other solution？

[2021-07-28 06:54] beikov commented on #1327
Yeah, with entity views you can do this and it would look roughly like this:

[code]

Querying is a matter of applying the entity view to a query, the simplest being just a query by id.

[code]

See the documentation for more details: https://persistence.blazebit.com/documentation/1.6/entity-view/manual/en_US/

[2021-07-28 06:54] #1327 closed

[2021-07-28 08:44] 943739901 commented on #1327
thank u

[2021-07-29 15:05] beikov commented on #1324
I recently fixed a similar issue in Hibernate, so the implementation will be similar: https://github.com/hibernate/hibernate-orm/pull/4096

[2021-07-30 08:13] danelowe opened #1328 "Hibernate Reactive"
Is there any interest in supporting hibernate reactive?

It seems a waste for me to be using Quarkus but not use reactive where it would help the most, but I definitely don’t want to forego Blaze Persistence.

From what I understand so far, HR uses a different set of session and query objects that are similar to the JPA entityManager and query objects.

From what I’ve read on the blaze persistence

[2021-07-30 08:34] beikov commented on #1328
The integration for some of the more advanced features would need to be completely rewritten. The simple stuff obviously would work by just using the query string generated by Blaze-Persistence and possibly process the result for entity views, but already that is quite a lot of work. At this time, I do not plan to add support for this. If anyone wants to work on this, I'd be happy to review code a

[2021-07-30 10:01] danelowe commented on #1328
Hmmm. I wish I did have an unreasonable amount of time available to work on it.

I was hoping it would be a matter of wiring up the right parts in the right way. I’ll try to have another look at it next week

But I guess it’s probably time for me to make a compromise now and think about how make it easy to add reactive data into my project in the future when we can have it all.

[2021-07-30 10:18] beikov commented on #1328
AFAIU, behind the scenes reactive is just a thread pool for running the queries/IO async. Unless you do your Blaze-Persistence queries in a write transaction, you could do the fetching in a separate thread pool as well. Did you read https://quarkus.io/blog/resteasy-reactive-faq/ ? Maybe it's enough to just use normal Hibernate with `@Blocking`? I'd definitely try to benchmark your app first before

[2021-08-02 06:59] danelowe commented on #1328
This is very helpful information thanks.

In my case, I don't feel I need 100% reactive, but being able to parallelize IO can be extremely powerful in an eCommerce domain where you can get primary keys from a search index, then retrieve products, related products, recently viewed, and all sorts of other information from different sources without having to do each task sequentially.

I think I can

[2021-08-02 07:51] beikov commented on #1328
Unless you mean that you fire e.g. 3 different queries for products, related and recently viewed ones, I wouldn't bet on "parallelizing" being faster than using a single optimized query to fetch all of the results. I don't know the structure of your app, but I don't think that splitting the id list is to retrieve data in batches will help you, in case you plan on doing that. Doing 3 different quer

[2021-08-02 09:06] eiswind opened #1329 "QueryDSL add Support for 5.0"
I tried to update QueryDSL to 5.0 and it failed with an Exception like:

[code]

Are there plans to update to 5.0.0?

[2021-08-02 09:07] beikov commented on #1329
Hi, would you mind trying out the current snapshot? Support for 5.0 was committed recently: https://github.com/Blazebit/blaze-persistence/commit/ecdb6858b134b9265253905f45c3a4c97677526e

[2021-08-02 09:17] danelowe commented on #1328
Thanks. The IDs in the example are due to using hibernate search for indexing. The parallel queries would be e.g retrieving the category tree in one query, product data in another, customer cart in another, recently viewed products in another. Product or customer ID would be pulled from e.g redis or elasticsearch, then multiple queries run in parallel to form the full graph of data needed to rende

[2021-08-02 09:21] beikov commented on #1328
I see, but in that case I am pretty certain that reactive won't buy you anything here. Just running the things in parallel is good enough.

[2021-08-02 09:23] eiswind commented on #1329
Thanks for the hint. Can I find a snapshot build on any maven repository? Did not find it in the docs. Or do I have to build my own?

[2021-08-02 09:27] beikov commented on #1329
The OSS snapshots are available in the Sonatype repository: `https://oss.sonatype.org/content/repositories/snapshots/`

[2021-08-02 09:43] eiswind commented on #1329
Thanks for letting me know. I tired some basic examples, which seem to work!

[2021-08-02 09:44] beikov commented on #1329
Great to hear that. I will try to publish a release this weekend after integrating some GraphQL related updates.

[2021-08-02 09:44] #1329 closed

[2021-08-03 11:05] EugenMayer opened #1331 "GraphQL: Sorting does only work for fields which are fetched in the requests"
Consider we are sorting by `id` and `title`, both fields of the `EntityGraphQlView`.
We are adding those to the `settings` in the data-fetcher statically.

Now, when running a query like this

[code]
It would work just fine.

But using a query which will not fetch the `title` field

[code]

will fail with

[code]

[2021-08-03 11:27] beikov commented on #1331
The solution here is to render the expression directly instead of the alias or force the fetching of the expression. I'll look into this ASAP.

[2021-08-06 21:16] #1072 closed

[2021-08-07 09:09] jwgmeligmeyling commented on #1317
Hibernate 5.2 and up require Java 8 anyway, so we could set the language level in these modules to Java 8 and extend `TypedQueryWrapper` and `ObjectBuilderTypedQuery` there. Then these implementations can delegate the `stream()` call. However, that likely also means moving these from `com.blazebit.persistence.impl.query` to `com.blazebit.persistence.spi`. And I am not sure if all places where `Typ

[2021-08-19 19:27] jwgmeligmeyling commented on #340
Although well aware of this limitation, I recently stumbled upon this again by surprise with a `x IN (subquery)` expression and a `SUM(x) IS NOT NULL NULL` expression in the select clause.

[2021-08-23 14:02] ask4gilles opened #1333 "Add support for Spring boot 2.5+/Spring data 2021.0"
Hi,

I just tried 1.6.1 together with SB 2.5.4 and got several issues regarding java.time module not added in the entityViewObjectMapper and exceptions regarding generated queries.

Do you plan to support this latest version?
Thanks!

[2021-08-26 15:30] beikov opened #1334 "Updatable non-PK subview mapping referring to PK-Id view fails persisting"
The case is the following:

[code]

Flushing a `NodeView` doesn't work because the FK column is set to null due to the use of a proxy for `User`. The problem is in `AbstractEntityLoader` which should never use the id-mapping of the target view, but instead use the FK-mapping. We might need to emit a warning though if the target view does not have an attribute for that FK-mapping.

[2021-08-27 08:32] EugenMayer opened #1335 "Upgrade graphQL to be compatible with up to graphql-java 17.0"
With the effort of https://github.com/Blazebit/blaze-persistence/pull/1326 we are already upgrading graphQL hugely and break any backwards compatibility anyway.

Since graphQL 17 has been released and we did no release 1.6 / 1.7 with the new graphQL version, we might consider even upgrade to 17 so we do not force a new breaking change upgrade soonish.

What do you think?

Changelogs: https://githu

[2021-08-28 07:37] beikov commented on #1321
I was able to reproduce your issue and just opened a PR to fix this. In case you want to verify that your particular issue is fixed, let me know if the fix works for you :)

[2021-08-28 09:01] #1321 closed

[2021-08-28 11:29] #1334 closed

[2021-08-28 15:29] #1333 closed

[2021-08-29 02:23] H-Lo opened #1340 "java.lang.NoSuchFieldError: hints"
### Getting exception _java.lang.NoSuchFieldError: hints_

Trying to run relatively simple query and exception pops out telling me _NoSuchFieldError: hints_ - but I don't use hints at all.

### Expected behavior

Expecting query result as long value of count

### Actual behavior

Exception pops out

### Steps to reproduce

	public long countByStatus_Blaze(Article.Status status) {
		QArticle articl

[2021-08-29 07:44] beikov commented on #1340
Thanks for the report. I suppose you are using QueryDSL 5? Support for that version will land in the upcoming 1.6.2 release and is already available on the snapshot build, in case you want to try it out already.

[code]

[2021-08-29 09:34] #1324 closed

[2021-08-29 10:10] jwgmeligmeyling commented on #1340
Yes, unfortunately in Querydsl 5 we had to introduce a breaking API change because "hints" was a Guava Multimap and we wanted to get rid of Guava.

Blaze-Persistence 1.6.2 has the fix for Querydsl 5 whilst maintaining backwards compatibility.

[2021-08-29 10:48] #1340 closed

[2021-08-29 10:56] EugenMayer commented on #1335
I ensure that the current implementation is compatible with graphql-java 17.0 - which in fact it is.

As we discussed, I will keep the dependency on 16.0 though since we will not have any breaking changes and thus can stay on 16.

So with the upgrade to 16.0, 17 is included

[2021-08-29 11:07] H-Lo commented on #1340
I'm only able to find 1.6.1 and none of 1.6.2

[2021-08-29 11:11] beikov commented on #1340
You might have to enable snapshots. I can find it here: https://oss.sonatype.org/service/local/repositories/snapshots/content/com/blazebit/blaze-persistence-core-api/1.6.2-SNAPSHOT/blaze-persistence-core-api-1.6.2-20210829.093537-7.jar

[2021-08-29 11:12] H-Lo commented on #1340
Well, it was not visible in browse mode @ https://oss.sonatype.org/ but I added it with "-SNAPSHOT" suffix and it works as expected.

[2021-08-29 15:25] beikov opened #1342 "Quarkus native compilation throws CNFE oracle.jdbc.OracleTypes"
It seems the problem is that we refer to all possible dialects statically which causes some transitive reachable classes to be initialized by graalvm during compilation which then causes exceptions at native compilation time. A user reported the following stacktrace:

[code]

We have to get rid of the static instanceof checks in the integration to determine the database type.

[2021-08-29 17:16] #1331 closed

[2021-08-29 17:16] #1342 closed

[2021-08-29 20:56] #1335 closed

[2021-08-29 22:15] beikov commented on #1317
As discussed today with @jwgmeligmeyling, it's just not doable to support this without bumping the language level to 1.8 because we need `Stream` in the method signature of our query implementations, so we will defer this to 2.0

[2021-08-31 02:32] nmvr2600 opened #1345 "java.lang.NoSuchMethodError: 'java.lang.Class sun.misc.Unsafe.defineClass(java.lang.String, byte[], int, int, java.lang.ClassLoader, java.security.ProtectionDomain)'"
exceptions under uber-jar mode

### Description
I got exceptions when I tried run quarkun application under uber-jar mode，but eveything works fine under fast jar mode。

### Expected behavior
can render view correctly

### Actual behavior
2021-08-31 10:26:06,312 ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (executor-thread-0) HTTP Request to /api/dashboard?userId=1 failed, error id: 9a53edfb-56dc

[2021-08-31 06:58] beikov commented on #1345
Hi, it seems the problem is that the uber-jar process does not handle MR-JARs properly and the entity-view-impl.jar is such a MR-JAR. When running normally, a class loader would try to pick the class from META-INF/versions/X where X is lower or equal to the Java version of the running JVM.

Can you check if the uber-jar contains that directory `META-INF/versions/9` and within that the class file f

[2021-08-31 13:09] nmvr2600 commented on #1345
Thanks for your reply. I found one solution,  add the blaze-persistence-entity-view-processor as annotationProcessor can avoid this problem.
Currently, I checked META-INF/versions/9 folder, UnsafeHelper file was there.

[2021-08-31 13:09] nmvr2600 commented on #1345
I think I can close this issue.

[2021-08-31 13:09] #1345 closed

[2021-08-31 13:11] beikov commented on #1345
Yeah, using the annotation processor will also be required if you want to compile to native, but nonetheless it would be interesting to understand why the uber-jar mode does not work properly. I assume though that this is a Quarkus issue, so maybe you can report it in their issue tracker.

[2021-08-31 14:23] EugenMayer opened #1346 "GraphQL uses optional ID? when the ID type is an embedded ID (composite id)"
When GraphQL types are generated, all `ID`s which are embedded ids (composites) are generated as optional.

There is no reason the ID becomes optional in this case - any reasons?

[2021-09-03 18:59] ask4gilles commented on #1333
Hi @beikov

First, sorry to comment on a closed issue.

In fact, regarding the `java.time` issue, it is well present, but I should have mention that the issue lies in the `spring-hateoas-webmvc` module where a new `ObjectMapper` bean is created at different places without the `JavaTimeModule` registered...
So, even though in my configuration I don't create `ObjectMapper` and I define a `JavaTimeMo

[2021-09-03 19:06] beikov commented on #1333
I can look at it tomorrow and I plan to do a release this weekend anyway, so maybe you don't need a workaround :)

Do you have an idea how this could be fixed?

[2021-09-03 19:12] ask4gilles commented on #1333
Wow, it would be awesome since we had to cancel today's release because of that :/
I think that we should either just rely on the SB autoconfigured `ObjectMapper` either register the time module when you instantiate it:

[code]

[2021-09-04 13:27] #1317 closed

[2021-09-04 13:30] beikov commented on #254
Fixed via https://github.com/Blazebit/blaze-persistence/pull/1344

[2021-09-04 13:30] #254 closed

[2021-09-04 13:34] beikov opened #1348 "Make sure ObjectMapper uses retain Spring configured modules"
Follow up of https://github.com/Blazebit/blaze-persistence/issues/1333 as the issue seems Spring HATEOAS related

[2021-09-04 13:35] beikov commented on #1333
Let's move the discussion to this issue: https://github.com/Blazebit/blaze-persistence/issues/1348

[2021-09-04 14:17] beikov commented on #1333
Would be cool if you could checkout the following PR and let me know if that works for you @ask4gilles: https://github.com/Blazebit/blaze-persistence/pull/1347

[2021-09-04 14:27] beikov commented on #1239
Closing stale issue. Please re-open it with a reproducer when it is still a problem @hanserya

[2021-09-04 14:27] #1239 closed

[2021-09-04 17:48] ask4gilles commented on #1333
@beikov sure, I’ll have a look at it tomorrow !

[2021-09-05 13:43] ask4gilles commented on #1348
Hi @beikov,

Thanks a lot!

- This fixes the `java.time`issue with the `ObjectMapper`.

(I'd have expected some tests with and without provided `ObjectMapper` to be on the safe side ;-) )

- FYI, I build this branch locally but got an error regarding the examples module:

[code]
I had to exclude it to build the whole thing.

- Apart from that, **I still have to downgrade the spring-data version**

[2021-09-05 14:40] beikov commented on #1348
Great to hear that, thanks for confirming.

I tested this locally, but I might as well commit the change in the model to verify this :)

How did you build this? I think `mvn clean install -DskipTests -DskipITs` should be enough. Anything else might require that you specify some profiles.

Looks like a bug in Spring Data 2.5 ;)

You can make use of a specification to model this though or if you wan

[2021-09-05 15:43] ask4gilles commented on #1348
mvn clean install
Then I commented the examples module and full rebuild (~50 min though 😅)

Thanks for the hint, I’ll give it a shot.

[2021-09-05 15:53] #1212 closed

[2021-09-05 15:53] #1346 closed

[2021-09-05 15:53] #1348 closed

[2021-09-06 12:32] EugenMayer opened #1349 "With 1.6.2 all fields are mandatory in GraphQL"
While in https://github.com/Blazebit/blaze-persistence/pull/1326 every field has been optional (except ID, while this was also not entirely true, see https://github.com/Blazebit/blaze-persistence/pull/1326#issuecomment-889242680), with the 1.6.2 rewrite of that branch, we end up having every single field as mandatory, except collections.

This is fairly critical, since it makes the `graphqls` defi

[2021-09-06 12:56] ask4gilles opened #1350 "JPA Criteria joins over embeddables do not render properly"
Hi @beikov ,

Follow up from https://github.com/Blazebit/blaze-persistence/issues/1333 and https://github.com/Blazebit/blaze-persistence/issues/1348#issuecomment-913167000 where you said:

Please find here attached a reproducer. [demo.zip](https://github.com/Blazebit/blaze-persistence/files/7116085/demo.zip)

Run this application and target http://localhost:8080/demo
No exception.

Run the applica

[2021-09-06 12:56] beikov commented on #1350
Thanks for the reproducer, I will take a look ASAP.

[2021-09-06 12:58] EugenMayer commented on #1334
Thanks for takling this one. I just tested the broken invocation path (production).

Using 1.6.0 without the work around you helped with, throws an exception. Using 1.6.2 does not.

Or in other words, it has been fixed successfully and I'm super happy, thanks!

[2021-09-07 08:28] beikov opened #1351 "Non-PK de-reference in WHERE and SET of UPDATE statement leads to join"
Analyze why this produces a join `update Space s set s.user.uid = :uid where s.user.uid = :uid`

[2021-09-07 08:36] beikov opened #1352 "Infer nullability of GraphQL fields from database model"
It would be awesome if nullability could be propagated to the GraphQL fields.

[2021-09-11 13:15] #1349 closed

[2021-09-11 13:15] #1352 closed

[2021-09-11 13:15] #1350 closed

[2021-09-13 20:39] beikov opened #1354 "Correlation predicate uses wrong root type for validation"
The problem was introduced with 1.6.1 as that introduced the validation of the correlation predicate. Essentially, they problem is that a wrong type is used as root type for the predicate.

[2021-09-13 20:41] beikov opened #1355 "Allow usage of TRUE and FALSE as path continuation tokens"
Right now, an enum like `my.company.MyEnum.TRUE` can't be parsed because we don't allow TRUE in an identifier rule.

[2021-09-14 06:53] beikov opened #1357 "Pagination with joined collection and subselect fetching fails"
Keyset paginating a view like the following will result in an error:

[code]

`The order by items of the query builder are not guaranteed to produce unique tuples! Consider also ordering by the entity identifier!`

The reason for this is that we try to copy the criteria builder for the object query for the subselect correlation which determines, that the keyset pagination can't be applied because

[2021-09-14 07:10] beikov opened #1358 "Coalescing add/remove operations causes constraint violation if new object should be persisted"
With #1258 we introduced the support for coalescing a remove followed by an add operation also for inverse collection, but the issue is that this is invalid if the added object is new i.e. should be persisted.

[2021-09-16 09:37] beikov opened #1359 "Map key type is not checked for multi-set support"
We currently do not check the map key type with `checkMultisetSupport` which leads to strange errors during runtime.

Also, consider adding support fromString/toStringExpression for certain known types that we know the SQL representation for, based on the SQL storage type Hibernate chooses for these types:

* `Locale`
* `Class`
* `Currency`

I.e. all types for which we currently register `Immutabl

[2021-09-16 16:30] beikov opened #1360 "Map key is not considered for updatable flat view identity"
Consider the following model:

[code]

The observation is that loading `EditView` leads to duplicate parents being set on e.g. `EditViewSub` or `EditViewSub2`. One issue that is confirmed is that the map key is not properly considered when de-duplicating edit subviews which leads to the same instance being added to a map multiple times. When setting the parent on the RecordingMap this fails becaus

[2021-09-20 10:26] EugenMayer opened #1361 "blaze persistence annotation processor yet incompatible with java 17 LTS"
When compiling with java 17 (liberca / bellsoft) we get this exception

[code]

Version: 1.16.2
JPA-Provider:
DBMS:
Application Server:

[2021-09-22 16:26] perch24 opened #1362 "JPA criteria like expression fails with escape character"
### Description
The JPA criteria API fails when parsing a like expression with an escape character. The JPQL parser outputs "Only a character literal is allowed as escape character in like predicate" when creating the criteria builder.

### Steps to reproduce
Adding the following test to jpa-criteria/testsuite/src/test/java/com/blazebit/persistence/criteria/WhereTest.java will reproduce the issue.

[2021-09-22 16:28] beikov commented on #1362
Hi and thanks for the bug report. I'll look into it for the next release. You should be able to workaround this by using `cb.literal()` explicitly, like this:

        cq.where(cb.like(root.get(Document_.name), "abc\\_%", cb.literal('\\')));

[2021-09-23 09:47] ask4gilles opened #1363 "Make spring-hateoas-webmvc module compatible with spring-hateoas 1.3.4"
Hi,

While upgrading to spring boot `2.5.5`, I'm facing the following exception:
[code]
This is probably related to a change in spring-hateoas `1.3.4`, I _think_ introduced by https://github.com/spring-projects/spring-hateoas/issues/1589
Could you please have a look?
Thanks!

[2021-09-23 09:48] beikov commented on #1363
Hi @ask4gilles and thanks for the report. I'll look into it as soon as possible, but as always, a pre-analysis or suggestions how to fix this would greatly help!

[2021-09-23 09:49] ask4gilles commented on #1363
That was fast! I'm debugging ;-)

[2021-09-23 12:13] ask4gilles commented on #1363
@beikov I'm able to reproduce it by changing the `spring.hateoas` version in the `spring-data-2.5.x`profile

[code]
`$ mvn test -P spring-data-2.5.x
`
[code]

Here is the culprit :) : https://github.com/spring-projects/spring-hateoas/blob/1.3.x/src/main/java/org/springframework/hateoas/server/mvc/WebMvcLinkBuilderFactory.java#L128

Hope it helps.

[2021-09-23 12:29] beikov commented on #1363
Thanks for the analysis. Do you think this might be a bug of Spring HATEOAS? AFAICT this is done to determine the baseUri for the request, but maybe there is an easier way to do this?

[2021-09-23 12:37] ask4gilles commented on #1363
From what I see there, the assumption is made that the `parameterValues` are never empty, but in our case, it is...
I don't know if @odrotbohm could chime in? :)

[2021-09-23 16:37] odrotbohm commented on #1363
Happy to help! At first glance, it's weird that you apparently don't hand in parameter values for a target controller method that actually takes parameters. We could of course default to assume null for the ones missing but it feels like this would mask issues better solved on the call side?

[2021-09-24 03:23] abarazal opened #1364 "groupBy generates wrong query in Querydsl integration"
I've moved from pure Querydsl to Blaze Persistence because I'm trying to generate a query grouped by two fields. The problem is when I add `groupBy` method it generates a wrong query.
This is my code:
[code]
And this is the query generated after `fetch` call:
[code]

For some reason, `group by` sql sentence does not match with the code I wrote in `groupBy` method, it adds more fields than expected

[2021-09-24 06:59] beikov commented on #1364
Hi! This is not "wrong" but is actually what databases usually expect i.e. that you group by all non-aggregate expressions. Some databases support determining that a subset of columns is "enough" for the same cardinality, but most don't support this functional dependence analysis, so these databases would require a full group by clause consisting of all non aggregate expressions contained in the S

[2021-09-24 06:59] #1364 closed

[2021-09-24 07:10] beikov opened #1365 "Support Quarkus 2.1+"
A user reported issues with Quarkus 2.1+ about missing Jandex classes.

[code]

With a demo application: https://github.com/harish2693/quarkus-demo

As discussed with the Quarkus team on [Zulip](https://quarkusio.zulipchat.com/login/#narrow/stream/187030-users/topic/Migration.20to.202.2E1.2B), this is caused by Hiberante ORM omitting Jandex from the runtime as per the PR: https://github.com/quarku

[2021-09-24 07:17] beikov commented on #1363
Hi @odrotbohm,

it's not that I explicitly omit or pass null values, but I call `MethodLinkBuilderFactory#linkTo(Class<?>, Method)` as you can see in https://github.com/Blazebit/blaze-persistence/blob/master/integration/spring-hateoas/webmvc/src/main/java/com/blazebit/persistence/spring/hateoas/webmvc/KeysetAwarePagedResourcesAssemblerArgumentResolver.java#L86

It seems that Spring HATEOAS is then

[2021-09-24 13:25] odrotbohm commented on #1363
Ouch, that's most certainly a bug. Should be easy to reproduce. I'll keep you posted.

[2021-09-24 13:37] odrotbohm commented on #1363
An easy workaround should be to rather call `MethodLinkBuilderFactory.linkTo(type, method, new Object[method.getParameterTypes().length]`.

[2021-09-24 14:13] odrotbohm commented on #1363
I've filed spring-projects/spring-hateoas#1652 and have a fix for that that solves the problem properly in 1.4. For the backport to 1.3.x I am inclined to just reject a mismatch in parameters and parameter values' length, so that we at least fail with a better error message that indicates where the problem is. In 1.4 a new overload would make your original code work again, as that allows us to exp

[2021-09-24 17:03] abarazal opened #1366 "fetchCount returns unexpected count in BlazeJPAQuery"
`fetchCount` method returns unexpected result since its not generating a proper count query because its not adding `groupBy` statement to it (`fetch` works as expected with `groupBy`).

Here is my code:
[code]

And this is the sql generated:
[code]

[2021-09-24 17:12] jwgmeligmeyling commented on #1366
I think this is the same issue as we're already investigating for https://stackoverflow.com/questions/69286170/wrong-result-metadata-when-using-pagination-with-balze-persistence .

Thanks for the query, hopefully it helps in reproducing the issue.

[2021-09-25 06:30] #1354 closed

[2021-09-25 06:30] #1355 closed

[2021-09-25 06:30] #370 closed

[2021-09-25 06:30] #1357 closed

[2021-09-25 06:30] #1358 closed

[2021-09-26 07:00] beikov commented on #1363
Hey @odrotbohm,

thanks for the quick action and nice to hear that this is fixed in 1.4. I'll add this "workaround" :)

[2021-09-26 16:24] jwgmeligmeyling commented on #1366
@beikov  This issue is not limited to the QueryDSL integration.

[code]

Also returns the number of `Person`s - not just `1`.

[2021-09-26 16:35] jwgmeligmeyling commented on #1366
As a workaround, I recommend using the pagination API: `blazeJPAQuery.page(page, size)`, returns both results and total count. It does however require you to specify a unique ordering (which for pagination is always a good idea).

[2021-09-27 13:25] beikov opened #1368 "Entity view validation looks up attribute setter in a wrong way"
An entity view like

[code]

fails the validation saying that the type for the setter is not compatible with the getter type, referring to the setter using `SomeWrapper`.

[2021-10-04 06:48] #1359 closed

[2021-10-04 06:48] #1360 closed

[2021-10-04 06:48] #1361 closed

[2021-10-04 06:48] #1362 closed

[2021-10-04 06:48] #1363 closed

[2021-10-04 06:48] #1365 closed

[2021-10-04 06:48] #1366 closed

[2021-10-04 06:48] #1368 closed

[2021-10-04 07:39] beikov commented on #1288
Until I have a reproducer by @ahofmeister I can't really fix this. Tried to reproduce the case though so far I was unable to.

[2021-10-13 06:00] beikov commented on #765
What do you think about merging the parser into core-impl? I don't think there is a real need to have the parser separately anyway. Merging would make all of this a lot easier I guess? The parser is not something that we particularly mention as API so I would say it is fine to do the move for a minor release i.e. for 1.7

[2021-10-13 08:14] jwgmeligmeyling commented on #765
That's certainly possible. Didn't really consider it an option as parser was recently separated from core as far as I remember 😄

[2021-10-15 19:18] jwgmeligmeyling opened #1370 "PagedList.getTotalSize returns 0 if inline count query is enabled and requested page is empty"
### Description

If the requested page does not exist, the result set is empty, and there is no result for the inlined count query. As a result `PagedList.getTotalSize` may incorrectly return `0`, giving the caller no clue about which pages do exist.

### Expected behavior
Not sure. Either document this discrepancy between the inlined count query and the regular count query. Or perhaps we could fa

[2021-10-18 21:57] famod opened #1371 "Quarkus 2.4 logs warnings regarding BlazePersistenceProcessor"
### Description
Building my current Quarkus app that uses blaze persistence 1.6.3 with pre-release 2.4 of Quarkus results in warnings.

### Expected behavior
No warning (just like in 2.3.0.Final of Quarkus)

### Actual behavior
2 warnings are logged with upcoming 2.4.0 of Quarkus:
[code]

### Steps to reproduce
- go to https://code.quarkus.io
- select blaze-persistence and h2
- extract the zip
- c

[2021-10-20 12:44] tolsam opened #1372 "Blaze EntityViews not found on Quarkus Native build"
### Description

We have a quarkus project that uses Blaze-Persistence and classes annotated with `@EntityView`. It works fine except when we perform a native build and deploy it on an OpenShift cluster.

We have add all the needed dependencies also the processor in the native profile
[code]

### Expected behavior

The program finds the Views on runtime and works fine.

### Actual behavior

We get

[2021-10-20 13:53] beikov commented on #1372
I guess you have these dependencies also?

[code]

It's odd as it seems the entity view java type is not in the native image. Can you share the type?

[2021-10-21 06:29] tolsam commented on #1372
It seems that the generated implementations i.e. DataViewImpl were not packaged into the JAR, because we added the processor in the mvn compiler plugin and it worked (the class is now found)

[code]

[2021-10-21 08:53] tolsam commented on #1372
We added the blaze processor in the compile plugin and the Impl classes were generated. We then started to have the same problem as in the native version initally that was solved with adding a Fetch Strategy

But we still get the same error only in the native version
[code]

[2021-10-21 09:06] tolsam commented on #1372
The following code was working without the `fetch = FetchStrategy.MULTISET` part. It wasn't working on the native build and also when we added the processor also on the compiler plugin (run quarkus through IntelliJ)
[code]

It seems that this could be the problem

[2021-10-21 20:25] jwgmeligmeyling opened #1373 "Updatable CTE's can't reference recursive CTE's"
### Description

It appears that updatable CTE's can't reference recursive CTE's. Doing so produces a weird error in a weird produced query. I've tested with the CTE occurring both as a join and subquery. Working on a reproducer.

[code]

Fails with:

[code]

### Expected behavior

### Actual behavior

### Steps to reproduce

### Environment

Version:            tested on 1.6.2 and 1.6.3
JPA-Provi

[2021-10-23 09:13] alohaaloha opened #1374 "group by + having count + DISTINCT does not work"
### Description

Calling following:
[code]
does not returns same results as generated sql from same code does.

### Expected behavior

Expected is to get actual response that you get when you manually execute generated query.

### Actual behavior

- In query dsl 4.x version - response is empty list.
- In query dsl 5.x - there is an exception:

`java.lang.NoSuchFieldError: hints at com.blazebit.per

[2021-10-25 11:58] #1372 closed, assigned to beikov

[2021-10-27 06:29] patriques82 opened #1375 "Im messing with you guys"
### Description

### Expected behavior

### Actual behavior
Just showing students how to make issues in github

### Steps to reproduce

### Environment

Version:
JPA-Provider:
DBMS:
Application Server:

[2021-10-27 06:31] #1375 closed, assigned to nobody

[2021-11-01 09:48] beikov commented on #231
I believe this has become irrelevant.

[2021-11-01 09:48] #231 closed

[2021-11-01 09:56] beikov opened #1378 "Jakarta support"
Create jakarta compatible artifacts by using the transformation plugin.

[2021-11-01 09:57] beikov opened #1379 "Switch to Jakarta by default"
In 2.0 we will switch to Jakarta in the main code base and generate Java EE JPA artifacts instead.

[2021-11-01 09:58] beikov opened #1380 "Switch to Java 8 as minimum"
In 1.7 we will switch to Java 8 as minimum.

[2021-11-01 10:31] beikov commented on #212
To do this, we must change the JpqlFunction contract in an incompatible way, so this will be done as part of https://github.com/Blazebit/blaze-persistence/issues/334 in 2.0

[2021-11-01 10:31] #212 closed

[2021-11-01 10:37] #1370 closed

[2021-11-01 10:49] #1371 closed

[2021-11-04 20:54] alohaaloha commented on #1374
@jwgmeligmeyling @beikov

I have pure querydsl query that was executing in about 10sec. I replaced that with blazebit querydsl and now query takes 1.5min 😭

[2021-11-04 21:01] beikov commented on #1374
You have to give us some more details if you want help. There is no reason for such queries to be slower in general. Please post the two SQL queries and the corresponding QueryDSL queries so we can analyze this

[2021-11-04 21:14] beikov commented on #1374
There could literally be anything hidden behind these three dots...

Please post the actual SQL queries that are executed. Without that, any speculation is pointless.

[2021-11-04 21:19] alohaaloha commented on #1374
That is the same query I was working when opening this bug: `group by + having + count + distinct`

Hope this is useful:
[code]

[2021-11-04 21:26] beikov commented on #1374
Ok so which SQL query is that. The one you see with or without blaze-persistence? How does the other one look like?

[2021-11-05 10:03] jwgmeligmeyling commented on #1374
`Fetch is ignored due to on-clause` indicates that you're requesting a fetch join, which is ignored if the join specifies an on predicate. Perhaps you are now relying on lazy loading of these associations after the query has executed instead? Although I doubt that this type of fetch join would have been allowed in standard Querydsl anyway.

[2021-11-05 16:12] alohaaloha commented on #1374
Both generated queries are the same. Problem regarding to speed was because 'Store' entity has many complex fields in it.

After changing quedydsl from:

select distinct store from Store store
left join Point point on point.store_id = store.id
where point.type in ?1
group by store.id
having count(distinct point.type) = 3;

to

select distinct store.id from Store store
left join Point point on poin

[2021-11-05 16:33] jwgmeligmeyling commented on #1374
Can you compare the produced SQL queries for both original queries?

Both queries should produce the exact same SQL (its Hibernate generating the SQL for the JPQL query in the end, not Querydsl or Blaze-Persistence) and therefore the performance finding is very surpsing and somewhat unbelievable.

My intuition would be that unnessairy join nodes are added to the query leading to a poorer query exe

[2021-11-05 16:38] alohaaloha commented on #1374
Both generated queries are the same.

No, raw query executed directly on database is fast, those times are when measuring query execution + bootstap performance, so executing it via `query.fetch()`

[2021-11-05 17:44] beikov commented on #1374
This is a problem in your query/database i.e. obviously it will be faster for the database to determine distinctness just based on the primary key than for a bunch of attributes. But you write the query, so it's in your power to change it.

If both queries are the same, the execution time has to be "the same" as well.

I don't know what you mean by "boostrap performance" but there is some cost in

[2021-11-05 19:18] alohaaloha commented on #1374
Let's start again.

[code]

When I write following using **querydsl**, it takes **10seconds** to **to get results**.

When I write the same, but using **querydsl with blazebit support**, it takse **40seconds** to **get the results**.

When I turn hibernate logs, or print query.toString, I see exactly the same generated 'sql' in both cases.

When I copy that generated 'sql' into db, query get resul

[2021-11-05 19:24] beikov commented on #1374
Well, it is expected that fetching entities takes a bit more time, as Hibernate has to construct entities etc. The fact that the query seems to be executed instantly doesn't mean it will be as instant if you actually fetch all data. Many SQL clients don't fetch the whole result set like Hibernate does. If you actually fetch all the data you might see more time spent in your plain SQL case as well.

[2021-11-05 19:27] alohaaloha commented on #1374
I was referring to the time it takes hibernate to actually populates entities.

[2021-11-05 19:31] beikov commented on #1374
It makes no sense to me why this would take longer with Blaze-Persistence. It is generating the same query and Blaze-Persistence does not fiddle with the result at all, it is completely generated by Hibernate.
I need to debug the actual code to understand that this better. If you want, yoh can attach a flamegraph and I can look into this, but a reproducer would be best.

[2021-11-07 13:49] #1378 closed

[2021-11-08 09:55] jordijansen opened #1384 "QueryDSL and GROUP_CONCAT causes SyntaxErrorException when using OrderSpecifier"
**QueryDSL and GROUP_CONCAT causes SyntaxErrorException when using OrderSpecifier**
### Description
Using JPQLNextExpressions.groupConcat in combination with a OrderSpecifier causes SyntaxErrorException (missing quote?). Without the OrderSpecifier, the groupConcat works fine.

groupConcat expression used:
[code]

Stacktrace:
[code]
### Expected behavior
Should execute groupConcat as expected, with

[2021-11-08 10:36] beikov commented on #1384
Thanks a lot for the report. Indeed, the expression that is rendered is wrong. The problem is a simple typo in the code.

I think you can workaround this by using this for now:

[code]

[2021-11-09 21:31] cgraefe opened #1385 "Entity mapping not working as expected for non-PK referencedColumnName in JoinColumn"
### Description

In an entity, I have a `@ManyToOne` mapping with a non-PK referencedColumnName and I'm trying to map the target entity into an entity view. Here is an attempt to simplify the setup:

[code]

[code]

[code]
[code]

### Expected behavior

When the entity is queried directly, the favorite food should be loaded:
[code]

When the entity view is queried, the favorite food should also be

[2021-11-09 21:33] cgraefe opened #1386 "Entity mapping in view not working as expected for non-PK referencedColumnName"
### Description

In an entity, I have a `@ManyToOne` mapping with a non-PK referencedColumnName and I'm trying to map the target entity into an entity view. Here is an attempt to simplify the setup:

[code]

[code]

[code]
[code]

### Expected behavior

When the entity is queried directly, the favorite food should be loaded:
[code]

When the entity view is queried, the favorite food should also be

[2021-11-09 22:34] beikov commented on #1385
Can you try mapping this to a view again just to rule out some fundamental issue with your mapping?

[code]

[2021-11-10 06:58] cgraefe commented on #1385
You mean I should try and map the favorite food as another view instead of an entity, like this?

[code]

I just tried that and without changing anything else, `catView.getFavoriteFood()` now returns the expected view instance instead of null.

[2021-11-10 07:23] beikov commented on #1385
Not sure if it is this issue, but I think you are running into https://hibernate.atlassian.net/browse/HHH-12885 which is a pretty old Hibernate bug that we never came around to fix properly. I would recommend you to use entity views all the way anyway to avoid surprises with missing/broken equals/hashCode implementations of the JPA model classes. Blaze-Persistence Entity-Views heavily relies on eq

[2021-11-10 07:24] beikov commented on #1386
Duplicate of https://github.com/Blazebit/blaze-persistence/issues/1385

[2021-11-10 07:24] #1386 closed

[2021-11-10 13:38] cgraefe commented on #1385
That Hibernate issue looks like it could be related to this, although I'm using `ManyToOne` here and not `OneToOne`.

Also, you a right of course, there are custom equals/hashCode implementations involved that I've omitted above. Blaze Persistences doesn't even allow entities without those to be mapped into entity views if I noticed correctly. I have quickly put together a minimal but complete pro

[2021-11-10 13:42] beikov commented on #1385
Thanks for the reproducer, I'll take a look this weekend.

Usually, it works fine to use entities as long as the types have sane equals/hashCode implementations. There are just some edge cases related to Hibernate issues like I mentioned. Ultimately, it will be better to use entity views all the way though because you can then fully control what is fetched and how, which entities not necessarily a

[2021-11-10 13:53] cgraefe commented on #1385
Thanks again for your help and effort!

Generally, I agree! In my particular case, I am using Blaze Persistence to improve a large existing code base with some parts dating back more than 10 years. Being able to (at least temporarily) map entities into views is a nice feature that allows for a more gradual refactoring, imho.

[2021-11-10 21:35] dgallego58 opened #1387 "How to use blaze-persistence Entity View Model in Spring Boot app with gradle"
I'm trying to make a project for sample use of blazebit with spring-boot-starter-data-jpa, however i followed the doc and put the dependencies, this is a gradle project.

here is my build.gradle

[code]

i use the configuration that is showed up [here](https://persistence.blazebit.com/documentation/1.6/entity-view/manual/en_US/index.html#spring-data-integration)

my code:

[code]
but im getting th

[2021-11-10 21:52] beikov commented on #1387
Hi, this is totally the right place to ask questions. What you are missing is the annotation to enable a package for entity view scanning i.e. `@EnableEntityViews(basePackages = {"com.demo.infrastructure.port.output.views"})` as is explained in the Spring section here: https://persistence.blazebit.com/documentation/1.6/entity-view/manual/en_US/#anchor-environment-spring

[2021-11-10 21:52] #1387 closed

[2021-11-16 14:09] boskokg opened #1388 "LTS Java 17 officially support"
I do not see any mentions of compatibility with Java 17.

Can you please tell is LTS Java 17 officially supported?

[2021-11-16 14:11] beikov commented on #1388
Hi @boskokg,
as of version 1.6.3 we are fully Java 17 compatible as has been fixed by https://github.com/Blazebit/blaze-persistence/issues/1361

[2021-11-16 14:11] #1388 closed

[2021-11-16 15:50] boskokg commented on #1388
Thank you,
Can you please write that in the Documentation [()](https://github.com/Blazebit/blaze-persistence#supported-java-runtimes)

[2021-11-19 16:44] dsarlo-viso opened #1389 "Unable to use Spring webmvc/webflux integrations in the same application"
### Description

We are trying to set up updatable/createable entity views for our Spring application. When using these entity views in request bodies, Spring has no way of deserializing the json to the entity views so we need to use the spring webmvc/webflux integrations.

When attempting to use the spring webmvc integration alone, everything works as expected for version 1.6.0. However, version

[2021-11-21 18:35] beikov commented on #959
https://github.com/Blazebit/blaze-persistence/pull/1383 will add support for most of these functions. The only ones left now are:

* Date trunc functions
* Date add functions
* Date extract functions

[2021-11-21 20:21] #1123 closed

[2021-11-21 20:21] #1384 closed

[2021-11-21 21:54] beikov commented on #1385
Hey, sorry to say that, but I debugged a bit and found out that you are in fact hitting https://hibernate.atlassian.net/browse/HHH-12885 or something very similar at least. It seems the problem is that it is impossible to load a non-pk key joined association via HQL. So the best way to avoid this really is to make use of entity views all the way.

I can assure you though, that this won't be a prob

[2021-11-21 21:54] #1385 closed

[2021-11-21 21:57] beikov commented on #1374
Is there anything else you can provide us here so we can analyze this? If not, I'm afraid there is not much we can do to help you.

[2021-11-21 22:01] beikov opened #1390 "Allow configuring more properties through Quarkus"
As we found out in https://github.com/Blazebit/blaze-persistence/discussions/1382, there are a few missing configuration properties that we need to support and also a SPI would be great for adding custom type test values.

[2021-11-22 07:26] cgraefe commented on #1385
Good to know, at least. Thanks for looking into this!

[2021-11-22 08:24] MichaelF25 opened #1392 "Not compatible with current spring boot 2.5 which uses also spring data 2.5"
### Description
Integrated blaze-persistence into my spring boot 2.5 app wich uses spring data jpa 2.5 with hibernate (versions managed by spring boot). At application startup following exception is shown and the start fails:

`org.springframework.dao.InvalidDataAccessApiUsageException: No fragment found for method public abstract java.lang.Object org.springframework.data.jpa.repository.JpaReposit

[2021-11-22 08:25] beikov commented on #1392
Hi and thanks for the report. I'll look into this. Do you happen to know what else was added to Spring Data 2.5 or have a link to the release notes for me to go through?

[2021-11-22 08:30] MichaelF25 commented on #1392
Unfortunately I have no release notes. We've just stumbled over this new method in the `JpaRepository<>` as we upgraded to Spring Boot 2.5 since we added a method with the same signature in our own `CommonRepository<>` extending `JpaRepository<>`.

[2021-11-22 08:31] beikov commented on #1392
Found it https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#new-features.2-5-0 :)

[2021-11-22 08:34] MichaelF25 commented on #1392
Yeah, seems to be indeed the only (in this case breaking) change

[2021-11-22 08:53] beikov commented on #1389
As far as this article explains, this is not so easily possible https://stackoverflow.com/questions/53883037/can-i-use-springmvc-and-webflux-together

I tried very hard to setup a sample for this, but this is too much Spring magic for my skills. If you can provide a sample application I can look into this, but until then, you have to decide to either use WebMvc or WebFlux

[2021-11-22 11:09] #1390 closed

[2021-11-22 11:09] #1392 closed

[2021-11-22 12:58] MichaelF25 commented on #1392
Wow, that was fast!

[2021-11-22 17:48] dsarlo-viso commented on #1389
Take a look here:

https://github.com/dsarlo-viso/blaze-web-implementation-issues

Was unable to reproduce the issue around `org.hibernate.exception.GenericJDBCException: could not advance using next()`

Will dig into this myself to see why this is only happening in our application and not the sample here. Thanks!

[2021-11-22 18:01] jwgmeligmeyling commented on #1389
Result set streaming was only added recently (#1344) and it could be that there is an issue still with entity views. It appears as if the underlying scrollable result is closed before the (transformed?) stream is consumed.

As a workaround you can temporarily use `getResultList().stream()`. I don't think this original issue was even related to WebMvc and Webflux interopability.

[2021-11-22 20:06] dsarlo-viso commented on #1389
[](url)> Result set streaming was only added recently (#1344) and it could be that there is an issue still with entity views. It appears as if the underlying scrollable result is closed before the (transformed?) stream is consumed. Could you perhaps put a breakpoint on ScrollableResults#close and back track what calls it? Wondering whether this could be a Hibernate or Blaze-Persistence bug.

Thank

[2021-11-22 21:25] alohaaloha commented on #1374
Regarding to speed, I don't have any more info, as I just switched libraries without any changes in code, and that caused performance issues, as I stated above. And cleary my model is too heavy, with lots of properties that need to be fetched. That is fixed using smaller projection.

Regarding my initial problem, I notice that I had multiple group by statements:
var results = query
.select(qStore)

[2021-11-23 07:55] beikov commented on #1374
The comments you posted seem to suggest that there is something different going on.

I think that with plain QueryDSL, different SQL is executed which might very well be the case, but so far you didn't show us the _original SQL statements_ that were execute for us to understand this properly. My guess is, that prior to switching, you had code like this:

[code]

which results in 2 SQL statements s

[2021-11-23 16:36] jason-visotrust commented on #1389
I specifically built this using streaming because the result sets are large. Any idea what's breaking this in 1.6.3?

[2021-11-23 21:02] dsarlo-viso opened #1393 "Unable to use result set streaming on version 1.6.3 with Hibernate"
### Description

[code]

Using the above snippet works on version 1.6.0, but since moving to 1.6.3 (this is required on our end), we receive the following exception.

[code]

The temporary workaround provided by @jwgmeligmeyling worked, which is great, but we are relying on streaming here because these result sets are large.

Here is a screenshot of the call stack:
![image](https://user-images.git

[2021-11-23 21:03] dsarlo-viso commented on #1389
Opened - https://github.com/Blazebit/blaze-persistence/issues/1393 - to continue the discussion around result set streaming

[2021-11-23 21:03] #1389 closed

[2021-11-23 22:04] jwgmeligmeyling commented on #1393
Steaming was only released in 1.6.2. Are you sure that under 1.6.0 you were actually streaming the results?

[2021-11-23 22:23] jason-visotrust commented on #1393
Well, it was calling TypedQuery.getResultStream() and was working to return a Stream of EntityViews.

[2021-11-23 22:41] jwgmeligmeyling commented on #1393
We wrap TypedQuery in a custom implementation that would do the entity view wrapping, so I am assuming just the default stream implementation was used prior (which falls back on calling getResultList().stream())

[2021-11-24 07:35] beikov commented on #1389
Does that mean, the usage of webmvc and webflux together works now, or is https://github.com/dsarlo-viso/blaze-web-implementation-issues the reproducer/example for that? If that's still an issue, we have to keep this issue open :)

[2021-11-24 17:22] dsarlo-viso commented on #1389
@beikov When using just the spring webmvc integration (which I believe is most likely what we should be doing since you can't actually take full advantage of webflux in a webmvc application), everything works as expected. Our endpoints using reactive types were failing due to the getResultStream method throwing an exception. This doesn't have anything to do with using webmvc and webflux together.

[2021-11-24 22:29] beikov commented on #1389
I added a fix for that here, not sure if that helps you: https://github.com/Blazebit/blaze-persistence/pull/1391

You're welcome. Now hopefully we can figure out the streaming issue as well :)

[2021-11-24 22:33] beikov commented on #1393
Interesting that you use this in a JHipster application. Maybe you want to help us with a sample application here? https://github.com/Blazebit/blaze-persistence/issues/332

To me, this looks like an issue with the Hibernate session management. It seems you are closing the Hibernate session at some point, before you are done with scrolling/streaming. Before 1.6.2 the result was fully fetched eagerl

[2021-11-24 22:42] beikov commented on #1393
Maybe you can open a Hibernate session explicitly and add a close handler to the result stream via `Stream#onClose`

[2021-11-25 00:22] jason-visotrust commented on #1393
That's interesting... I'll have to look into how sessions are managed with WebFlux and @Async

[2021-11-25 13:47] jason-visotrust commented on #1393
I think this was part of the issue. I'm now opening my own EntityManager in the service and passing it along, then closing when the Stream closes, but now I'm getting this:

java.lang.ClassCastException: class [Ljava.lang.Object; cannot be cast to class com.visotrust.viso.service.riskinsight.SlimRiskAssessment ([Ljava.lang.Object; is in module java.base of loader 'bootstrap'; com.visotrust.viso.se

[2021-11-25 13:52] beikov commented on #1393
Ahh, now this is an actual issue with Blaze-Persistence, although I am a bit surprised as the transformation should happen as you can see in https://github.com/Blazebit/blaze-persistence/blob/master/core/impl/src/main/java/com/blazebit/persistence/impl/query/ObjectBuilderTypedQuery.java#L80

Could you maybe try to debug to help us understand what is going on?

[2021-11-25 14:01] jason-visotrust commented on #1393
Can you point me to where I should drop a breakpoint? I'm building a Flux from the stream returned from query.getResultStream() like this:

private Flux<SlimRiskAssessment> getRiskAssessmentsFlux(@NotNull Long orgId, Optional<List<Long>> maybeDrIds, EntityManager em) {
        try {
            return Flux.using(
                () -> riskInsightRepository.getRisks(orgId, maybeDrIds, em),

[2021-11-25 14:05] beikov commented on #1393
How does `riskInsightRepository.getRisks` look like? Do you see the method I referred to before being called? It's possible that the entity view `ObjectBuilder` simply does nothing on `build` and only works on `buildList`. Can you confirm that all of the code is called and that it simply no-ops?

[2021-11-25 14:12] jason-visotrust commented on #1393
ObjectBuilderTypedQuery.getResultStream() is called.
`public X apply(X tuple) {
                if (tuple instanceof Object[]) {
                    return builder.build((Object[]) tuple);
                } else {
                    return builder.build(new Object[]{tuple});
                }
            }`
In this part, type is an instance of Object[] and it calls the first, which returns an Obj

[2021-11-25 14:13] jason-visotrust commented on #1393
`public Stream<SlimRiskAssessment> getRisks(@NotNull Long senderOrgId, Optional<List<Long>> maybeDrIds, EntityManager em) {
        CriteriaBuilder<RiskAssessment> criteriaBuilder = cbf.create(em, RiskAssessment.class);
        criteriaBuilder.where("diligenceRequest.sender.id").eq(senderOrgId).orderByAsc("createdDate");
        if (maybeDrIds.isPresent()) {
            List<Long> drIds = maybeDrI

[2021-11-25 14:16] jason-visotrust commented on #1393
I think it's this in the ChainingObjectBuilder:
`public T build(Object[] tuple) {
        return (T) tuple;
    }`

It's just returning the Object[] without transforming it

[2021-11-25 14:16] beikov commented on #1393
Ok, so I guess that the delegate `builder` probably then does a no-op at some point as we don't support "incremental" object building yet since we require some de-duplication to happen right now in bulk fashion. I can look into this, but for now, you will have to live without streaming unfortunately.

[2021-11-25 14:18] jason-visotrust commented on #1393
Okay, gotcha. I guess we were living without it before. Thanks for taking a look.

[2021-12-01 19:15] beikov opened #1395 "Collection DML should invoke flush before executing"
It was reported that with a creatable subview contained in an indexed collection, a FK violation has been seen. From the SQL log it is clear that an id value was acquired for the new subview entity while invoking persist, but the insert hasn't been flushed, so the collection DML insert fails because the entry is not there yet.

[2021-12-01 19:22] beikov opened #1396 "Flush issues with updatable subview attribute having updatable subtype"
The following model was reported to produce this error:

[code]

https://github.com/Blazebit/blaze-persistence/blob/master/entity-view/impl/src/main/java/com/blazebit/persistence/view/impl/entity/UpdaterBasedViewToEntityMapper.java#L98

The problem is that we try to get the nested dirty flusher for the declared read-only type `OrgDataTypeConfigView`

[2021-12-06 12:56] desesseint opened #1400 "Reserved keywords error returns a cryptic message."
If you use a reserved keyword in the get method of entity views, the program won't work and you'll get a cryptic error message:
"Probably we did something wrong, please contact us if you see this message.".
E.g. :
1. getReturn()
2. getBreak()
3. etc.

I don't know what this qualifies as, but the error message could be better.

[2021-12-06 13:01] beikov commented on #1400
Hi and thanks for the report.

We generate fields with the attribute names i.e. for `getReturn` the attribute name is `return` which is a keyword, so that fails at some point. You could workaround this by using a different method name for mappings e.g. `getReturnString` and create a default method `default String getReturn() { return getReturnString(); }` to expose the method that you want.

We ca

[2021-12-07 09:16] #1393 closed

[2021-12-08 09:12] beikov commented on #1395
It seems we already do the flushing, so I need a reproducer for this from Jason Carreira to further investigate the issue

[2021-12-08 16:38] beikov opened #1402 "Create SPQR GraphQL sample application"
I helped the user Yurii to setup GraphQL mutations with updatable entity views and it was easier than thought. All that is necessary, at least for SPQR, is to provide an `ObjectMapper` that was adapted with the `EntityViewAwareObjectMapper`. One thing that doesn't work right now is collections within an entity view for the GraphQL input.

[2021-12-11 12:12] gorkembalcisoy opened #1403 "How to use @MappingSubquery in entity views as abstract classes?"
### Description
I used entity views as interfaces, but I need @ViewConstructor annotation and change interfaces to abstract classes. But, my @MappingSubquery annotated subqueries do not compile after that.

Exception : No eligible constructor exists for subquery provider in SubqueryProviderHelper.class

### Expected behavior

### Actual behavior

### Steps to reproduce

### Environment

Version:
J

[2021-12-11 13:10] beikov commented on #1403
The exception you are seeing is because inner classes within interfaces are static by default, whereas within classes, they are non-static i.e. capture the instance from within which they were created. Just make the class static and it should work.

[2021-12-11 13:10] #1403 closed

[2021-12-12 12:01] beikov opened #1404 "Add JSONB integration"
Add an integration for JSONB which is necessary for SmallRye GraphQL.

[2021-12-12 12:03] beikov opened #1405 "Add support for GraphQL mutations"
Make sure, by creating examples and tests, that GraphQL mutations work with Jackosn/JSONB integrations.

[2021-12-12 15:35] beikov opened #1406 "Quarkus native image JSON serialization empty"
Here is the reproducer: https://github.com/quarkusio/quarkus/issues/21930

The problem turned out to be, that methods of generated entity view implementation were not registered for reflection.

[2021-12-13 02:03] nmvr2600 opened #1407 "how can I sort Correlation mapping result"
for example:
`    @Mapping("Person[age IN VIEW(age)]")
    List<PersonView> getSameAgedPersons();`
how can I sort PersonView by some column? I tried use @OrderBy, but it seems that annotation can't work here.
The @Limit can order the result, but I don't want limit the result count.

[2021-12-13 06:05] gorkembalcisoy commented on #1403
Thank you

[2021-12-13 10:22] beikov commented on #1407
Hi. You can let a collection become sorted by using a `SortedSet` or by supplying a custom Comparator via `@CollectionMapping`. Also see https://persistence.blazebit.com/documentation/1.6/entity-view/manual/en_US/#sorted-collection-mapping

[2021-12-13 10:22] #1407 closed

[2021-12-14 03:06] nmvr2600 commented on #1407
all right, I will try that. thx.

[2021-12-17 07:06] Kaerol commented on #1102
Same here,

except WARNs during deploy (:smiling_imp:) no additional profits

![image](https://user-images.githubusercontent.com/9872518/146503631-38dd0dcf-4549-4ed7-aeb6-cb90cbf8f61b.png)

[2021-12-20 14:52] desesseint opened #1408 "AttributeFilter on Multiset FetchStrategy"
Is there a way to **filter by an attribute inside a collection with FetchStrategy Multiset**?

Let's suppose you have an entity view `CatView `which has some property `List<KittensView>`.

You can add an EqualFilter as `viewSetting.addAttributeFilter("kittens.age", 1)` and it works fine.

But if you add `FetchStrategy.MULTISET`  you'll get something like `Attribute CatView_kittens_age not found on

[2021-12-23 16:40] beikov opened #1411 "Make sure that an array expression can refer to the current join node"
From https://github.com/Blazebit/blaze-persistence/discussions/1410 we saw that there are cases of alias collisions. I don't know if we can solve the alias collision, but at least the canonical way of referring to the current join node through `_` or maybe also through `this` should be possible, but currently seems to fail.

[code]

[2021-12-27 08:50] #1395 closed

[2021-12-27 08:50] #1396 closed

[2021-12-27 08:50] #1404 closed

[2021-12-27 08:50] #1405 closed

[2021-12-27 08:50] #1406 closed

[2021-12-30 16:12] teopapath opened #1413 "Support for hibernate 5.6.3"
### Description
 It seems that hibernate 5.6.3 is not supported with blaze-persistence-integration-hibernate-5.4 as the documentation says

### Actual behavior
Following exception during startup:
Caused by: java.lang.AbstractMethodError: Receiver class com.blazebit.persistence.integration.hibernate.CustomMultiTableBulkIdStrategy does not define or inherit an implementation of the resolved method '

[2021-12-30 20:26] jwgmeligmeyling commented on #1413
Blaze-Persistence is actively tested against `5.6.0.CR1`. HHH-14921 changed the parameter types of API's we extend. Therefore compatibility is broken as of Hibernate 5.6.2.

This is likely fixed in a release soon, as Christian and I are both well engaged in the development of Hibernate. 😉

[2022-01-01 22:48] gsmet opened #1414 "Upgrade Blaze Persistence to Quarkus 2.6.1.Final and generate proper metadata"
As seen in https://github.com/quarkusio/quarkus-platform/pull/417, the Blaze Persistence Quarkus extension does not provide all the necessary metadata for modern Quarkus.

Quarkus 2 has been around for a long while now so let's make the extension more modern.

I'm going to work on this.

[2022-01-04 17:43] mickroll opened #1417 "Combining filter on foreign key A and keyset pagination on foreign Key B creates wrong SQL"
### Description

Given an Entity tree
[code]
the generated SQL for a paginated query with keyset `state.id, someKey, id` seems to be wrong, as soon as an additional filter on `organization.id` is applied.

### Expected behavior
Pagination predicates should be stable, regardless of other predicates that were added using `where(...)`.

### Actual behavior
SQL changes from:
[code]
to:
[code]

This wr

[2022-01-04 17:50] mickroll commented on #1417
Please feel free to copy parts/all of the reproducer into your repository for testing etc.

[2022-01-04 19:15] beikov commented on #1414
Fixed via https://github.com/Blazebit/blaze-persistence/pull/1416

[2022-01-04 19:15] #1414 closed

[2022-01-04 19:17] #1402 closed

[2022-01-04 19:18] beikov commented on #1413
Thanks for the report, I'll try to see what I can do in the next days.

[2022-01-14 22:20] dsarlo-viso opened #1421 "Stream processing of results not working for entity views"
### Description
We updated to 1.6.4 because there was a bugfix included for getResultStream() since this was throwing an exception for us earlier on #1393. The fix included in #1394, seems to have introduced this odd behavior.

### Expected behavior
When using getResultList().stream(), we get the following response:

[code]

This is the expected output

### Actual behavior
When using getResultStre

[2022-01-16 07:26] beikov opened #1422 "NPE in entity view annotation processor when @PostLoad is used"
According to a user report, `ImplementationClassWriter#1877` throws a NPE with version 1.6.4. when having a `@PostLoad` annotated method in an entity view. It seems we used `getPostCreate` accidently whereas it should have been `getPostLoad` on that line.

[2022-01-16 08:41] beikov commented on #1421
Well, what would you expect here? You are join fetching a collection which increases the cardinality by N for every output object, so real streaming doesn't work. Should this throw an exception or maybe consume the whole stream to produce a correct result? I think an exception might be best here. What do you think?

If you change `UserProfileView` to use any fetch strategy other than JOIN for `lin

[2022-01-16 08:58] beikov opened #1423 "Rework ObjectBuilder with respect to streaming support"
We need to somehow capture the fact that an `ObjectBuilder` is streaming capable as the "fix" for https://github.com/Blazebit/blaze-persistence/issues/1421 will be to disallow returning the same object array instance again from a `ObjectBuilder#build` which is kind of a hack.

[2022-01-16 09:10] beikov commented on #1421
I actually think throwing an exception here is the proper thing to do so a user knows that something has to be changed in order for streaming to work, so I implemented that as part of https://github.com/Blazebit/blaze-persistence/pull/1424

[2022-01-16 17:09] beikov commented on #1417
Thanks a lot for the great test case! I found out that a visitor that checks if a join node is "constantified" i.e. unique through an eq predicate, was queried with a wrong "key" leading to the assumption that a join node is constantified, although it isn't. The predicate `listEntity.organization.id = 1` was essentially triggering this particular behavior. I believe I have a fix for this though wh

[2022-01-16 18:48] beikov opened #1425 "MetadataContributor contributed configurations ignored in Quarkus application"
Quarkus seems to strip off configuration values contributed through `MetadataContributor` implementations so we need to create a `HibernateOrmIntegrationStaticConfiguredBuildItem` that retains configurations that we applied.

[2022-01-19 09:46] #1413 closed

[2022-01-19 09:46] #1417 closed

[2022-01-19 09:46] #1421 closed

[2022-01-19 09:46] #1422 closed

[2022-01-19 09:46] #1425 closed

[2022-01-19 16:10] ask4gilles opened #1426 "Spring hateoas integration: ensure compatibility with 1.4"
Hi,

When trying to upgrade to spring boot `2.6.2`, I got this exception regarding the `spring-hateoas` integration:
[code]
Could you please make the integration compatible with `spring-hateoas` 1.4 and the changes made by @odrotbohm ?
Thanks!

[2022-01-19 16:21] odrotbohm commented on #1426
Switching to the factory methods should do the trick. They had been deprecated for quite a while already.

[2022-01-19 16:29] beikov commented on #1426
Thanks for the report! Too bad you ran into this today when I just released a new version 😞
If you had reported this earlier I would have been able to squeeze the fix in for that release. Is the update to the latest Spring HATEOAS very critical to you, or is it ok to wait e.g. 2 weeks? I'd like to wait a bit for feedback on this release before pushing out another one.

[2022-01-19 17:12] ask4gilles commented on #1426
Yeah, I had the same feeling when I saw the release announcement. No rush needed,take your time 😉

[2022-01-19 18:00] mickroll opened #1427 "ManyToOne in Embeddable fails Query"
### Description
Given an Entity tree
[code]
The following query fails:
[code]

### Expected behavior
Query always works :)

### Actual behavior
[code]

### Steps to reproduce
[clone&build reproducer](https://github.com/mickroll/quarkus-demonstrator/tree/blaze-many-to-one-in-embeddable)

### Environment

Version: 1.6.3
JPA-Provider: Hibernate 5.6.1.Final
DBMS: H2
Application Server: Quarkus 2.6.2.F

[2022-01-19 20:09] dsarlo-viso opened #1428 "Unable to save ManyToOne mapping on underlying entity"
### Description

We are trying to map an id to a ManyToOne mapping and have it save properly

### Expected behavior

The orgId should be persisted to the db

### Actual behavior

Everything seems fine, but orgId isn't persisted to the UserProfile table. OrgId is null even though the value is set when UserProfileView is saved.

### Steps to reproduce

Reproduced in Project: https://github.com/dsarl

[2022-01-20 07:31] beikov commented on #1427
Thanks for the reproducer, I'll look into that!

[2022-01-20 07:32] beikov commented on #1428
Thanks for the reproducer, I'll look into this!

[2022-01-24 19:45] beikov opened #1433 "Quarkus integration doesn't properly work with Hibernate 5.6 integration in native mode"
Switching to the hibernate-5.6 integration doesn't work right now in Quarkus native because we are missing a few classes for reflection.

[2022-01-24 19:46] beikov commented on #1433
Fixed via https://github.com/Blazebit/blaze-persistence/commit/a109323d5ad769d89337e786f1a4434f84e3943e

[2022-01-24 19:46] #1433 closed

[2022-01-24 20:24] beikov opened #1434 "Support Spring Boot/Data 2.6"
Add support for Spring Boot/Data 2.6 by making sure tests work with the existing integration.

[2022-01-25 16:16] msavy opened #1436 "Hibernate 'could not resolve property' issue with Composite ID / @IdClass"
### Description

I'm trying to port [Apiman](https://github.com/apiman/apiman/tree/3.x) to use BlazePersistence instead of the JPA Criteria API to avoid losing my mind with its bizarre syntax 😂.

However, I seem to have hit a blocker.

We use composite keys/ids in our model in a few places via `@IdClass`. This is something we can't change for compatibility reasons (unless there's a compatible work

[2022-01-25 17:30] jwgmeligmeyling commented on #1436
Is your Id property named “id”? I am asking because in Hibernate “id” is also used as a way to reference the IdClass object in queries, which may collide with your composite key.

It also could be related to Quarkus.

I am using IdClass with Blaze-Persistence core/criteria/querydsl all the time. The only known limitations wrt composite keys lie in entity views.

[2022-01-25 17:36] msavy commented on #1436
If I understand you correctly, then yes. `ClientBean` in the repro example, for example (`src/main/java/io/apiman/manager/api/beans/clients/ClientBean.java`) has a field called `id` which is part of the composite id.

I used Quarkus solely for this reproducer (the error is identical, however).

Apiman does **not** have a Quarkus distribution yet.

The current Apiman Manager distros are TomCat, Wil

[2022-01-25 17:42] beikov commented on #1436
Hi @msavy, I'll look into this later this week as this is probably pretty easy to fix.

[2022-01-25 17:50] msavy commented on #1436
Wonderful, thanks @beikov - hopefully I can progress some other areas of the Apiman code in the meanwhile and cycle back onto this before I need to release upstream.

I guess I could use QueryDSL as a standin temporarily if needed and I run out of time before.

The code for the standard JPA Criteria API is just so bizarre that the other contributors couldn't understand it, and it was proving a nig

[2022-01-26 07:47] #1434 closed

[2022-01-26 07:47] beikov commented on #1426
Fixed via 4092ddc6afad23dd2afb46c7f87cd0c5eb17898f

[2022-01-26 07:47] #1426 closed

[2022-01-26 08:54] beikov commented on #1436
Ok, so I looked into this and unfortunately this is a limitation of Hibernate when it comes to associations for entities with id classes. I created https://hibernate.atlassian.net/browse/HHH-15051 for this and already have a fix for Hibernate ready. I hope it's ok that you have to update Hibernate to 5.6.6.Final?

[2022-01-26 09:21] msavy commented on #1436
In the Apiman upstream we're using Hibernate 5.3.20.Final -- we generally track the version being used in the version of WildFly we support. I suppose I could try to force it to use a different version by using jboss modules, but I am not sure if that will break something else.

This particular relationship I've distilled in the reproducer has been in use in Apiman since about 2014 from what I can

[2022-01-26 09:27] beikov commented on #1436
Ughh, I feared that this could be the case.

Well, usually Hibernate allows access to the property types/columns etc. by property path per entity type. So usually, I can ask Hibernate for the type of `client.id`, but it seems that for associations with entitiy types that use an id class, it doesn't add these property paths.

I will implement a workaround for this limitation.

[2022-01-26 10:09] msavy commented on #1436
Aha, your explanation makes sense.

Thanks for that!

[2022-01-26 12:27] #1436 closed

[2022-01-26 15:36] msavy commented on #1436
@beikov -- I can confirm that your fix works for Apiman using the 1.6.6.Final-SNAPSHOT build from #1438 / master (as of this post).

Hopefully when Apiman 3.x lands we'll be using BlazePersistence instead of JPA Criteria API.

A few small issues to iron out (re: pagination & ordering), but hopefully can get them figured out today.

Thanks again for your help 🎉.

[2022-01-26 15:42] msavy opened #1439 "Add #orderById short-cut for paginated queries"
## Feature request

When using BlazePersistence with more generic paginated code, it would be quite helpful to have a way to tell BP to just use the unique ID of a given entity as indicated by `@Id` for ordering (i.e. doesn't work properly without a unique #orderBy). Often that's a field called `id` and you can just guess, but not always, and it may be complicated by composite IDs.

I was thinking

[2022-01-29 09:25] beikov commented on #1439
I haven't tried this yet, but I think the following could do what you want to achieve:

[code]

[2022-01-29 09:37] msavy commented on #1439
Oh, cool! I'll have to give that a try. If it works it might be a nice addition to the docs; I could make a PR for that perhaps.

[2022-01-31 13:06] H-Lo opened #1440 "App cannot start"
Hi!
Please can you check this one?
It's not Blazebit bug, but Hibernate is ignoring this issue.
https://hibernate.atlassian.net/browse/HHH-15004
Thanks!

[2022-01-31 13:13] beikov commented on #1440
Thanks for the ping. I wasn't aware that you were using Blaze-Persistence 😄
Like I wrote on the Hibernate issue, you seeing this error because of an unfortunate SPI change, which requires that you switch to the new integration module as pointed out in https://persistence.blazebit.com/news/2022/blaze-persistence-1.6.5-release.html

[2022-01-31 13:13] #1440 closed

[2022-02-03 08:26] beikov opened #1441 "Make sure multiple persistence units can be used with Spring integration."
Right now, it's not possible to use multiple persistence units with our Spring integration.

We need to add `qualifier` member to `@EnableEntityViews` and make sure repositories work with proper `EntityViewManager` per `EntityManagerFactory`.

[2022-02-03 23:27] dsarlo-viso opened #1442 "getResultList returning a list containing one object of null values rather than an empty list"
### Description

We are querying for a list of sub views using the function `EntityViewManager.applySetting(EntityViewSetting setting, CriteriaBuilder criteriaBuilder, String entityViewRoot)`. When these sub views exist in the db, we properly receive the results as a list. What we are having trouble with is when there aren't any of these sub views in the db.

What we are doing:
[code]

### Expecte

[2022-02-04 08:04] buett opened #1443 "ClassCastException when cloning BlazeJPAQuery (querydsl)"
### Description

When a BlazeJPAQuery is cloned by clone Method the following error occurs:
`class com.blazebit.persistence.querydsl.Binds cannot be cast to class com.querydsl.core.types.Operation`

The AbstractBlazeJPAQuery#clone Method contains the following line (at 251)
`this.binds.addBinds(((Operation) query.binds.accept(new ReplaceVisitor<Void>(), null)).getArgs());`

The cast should be to B

[2022-02-04 09:09] beikov commented on #1442
Hi, this is expected behavior for so called "flat views" because there is no value that is used to determine nullness in this case. If you were using a proper `@IdMapping` on e.g. `getUrl()`, the result will be empty, just as expected.

[2022-02-04 09:09] #1442 closed

[2022-02-07 04:20] dsarlo-viso commented on #1442
@beikov `Link` is embeddable and embedded in `ClientProfile` so there is no `@IdMapping`. Any advice as to what we should be doing here?

Link Entity:

ClientProfile Entity:
[code]

[2022-02-07 10:39] beikov commented on #1442
You could try map it like this to emulate an id over all values.

[code]

[2022-02-07 14:33] dsarlo-viso commented on #1442
Did this and changed the UpdateView to match, but I keep getting this exception on startup:

[code]

I attempted something similar yesterday without `@JsonIgnore` and received the same exception.

@beikov

[2022-02-07 14:43] beikov opened #1444 "Custom id mapping leads to startup error"
A mapping like

[code]

Fails with

[code]

See here for details: https://github.com/Blazebit/blaze-persistence/issues/1442

[2022-02-07 14:48] beikov commented on #1442
Unfortunately, the only way to avoid the "empty object" for now, is to use a list index by annotating `@OrderColumn` on the entity collection. A possible alternative is to use a simple wrapper view:

[code]

[code]

[2022-02-07 14:55] dsarlo-viso commented on #1442
Thanks for that! Looks like we will need to get the data we want through ClientProfileView instead for now. We do use a list index for links using `@OrderColumn` and that doesn't seem to help in this situation.

[2022-02-07 19:42] sb-adv opened #1445 "@AttributeFilter doesn't work with aggregate function mappings"
For given entity view:
[code]

following SQL query fragment is generated:
[code]
### Expected behavior
[code]

[2022-02-07 22:09] sb-adv opened #1446 "BlazePersistenceRepositoryFactoryBean can't be used with multiple entity managers"
Assume:
- Spring Boot project
- project has 2 entity managers
- each entity manager has own beans EntityViewManager and CriteriaBuilderFactory

Configuration has:
[code]

Exception occuring on startup:
[code]

[2022-02-08 08:52] beikov commented on #1446
Thanks for the report. This will be done as part of https://github.com/Blazebit/blaze-persistence/issues/1441

[2022-02-08 08:52] #1446 closed

[2022-02-08 09:59] mch9003 opened #1447 "Comparison in select clause not working"
### Description

Hi, I'm using searching query from some table but I get error about it.

[code]

And this is my query. BlazePersistence with QueryDsl style.

[code]

I used Identical query with querydsl but it worked well.
Another comparison using '=' was not working as well.
Any help will be appreciated.
Thanks.

### Expected behavior

### Actual behavior

### Steps to reproduce

### Environment

[2022-02-08 10:02] beikov commented on #1447
Hi, predicates are usually only allowed in a predicate clause like `WHERE`, `HAVING` etc. If you want a boolean expression, you currently have to use a template like `case when {0} is not null then true else false end`

[2022-02-08 10:03] #1447 closed

[2022-02-14 09:43] beikov opened #1450 "Path expression colliding with entity name causes errors"
With the following model:

[code]

we run into parsing issues for an expression like `products`, because that is interpreted as `EntityLiteral` instead of as `PathExpression`. We must adapt the parser so that `EntityLiteral` can only be parsed in special cases like `=`/`<>` and `in` predicates.

The workaround is, rename the association or the entity name to avoid running into this.

[2022-02-15 12:51] msavy commented on #1439
This appears to works well. Had no idea about this shortcut.

Will do a docs PR soon.

[2022-02-15 12:51] #1439 closed

[2022-02-18 16:31] beikov opened #1452 "Exists subquery issues with exotic mappedBy path"
The following model:

[code]

Fails on the QueryDSL query

[code]

with the error `left and right hand sides of a binary logic operator were incompatible [component[roleId,userId] : long]` because the following HQL is generated:

[code]

This might be an issue in core actually, but we will have to write a reproducer first to see what is going on.

[2022-02-18 16:36] beikov opened #1453 "QueryDSL exists subquery in case when expression doesn't work"
An expression like the following:

[code]

fails with the error

[code]

Where param_1 seems to be the `true` in the case expression (ParameterManager.satisfyParameter)

[2022-02-19 10:06] gero1992 opened #1455 "Querydsl left join subquery"
Hi there! I’m new to Blaze Persistence and I really like the possibility to join subqueries.
I’m using the querydsl extension and I was wondering is it possible to do something like this:

`

SELECT
  s.id,
  e_sub.emp_count
FROM
  shop s
  LEFT JOIN
    (SELECT
       e.id  AS emp_id,
       COUNT(e) AS emp_count
  FROM
    employee e
  WHERE
    e.archived = false
    GROUP BY e.id) AS e_sub ON

[2022-02-19 10:07] beikov commented on #1455
Hey there, yeah that's easily possible. See the documentation about the features and how to use them: https://persistence.blazebit.com/documentation/1.6/core/manual/en_US/index.html#subquery-joins

[2022-02-19 10:07] #1455 closed

[2022-02-19 11:14] gero1992 commented on #1455
Thanks for the quick answer @beikov. Yes I checked the documentation before I created the issue here, but I can't find such example. It's working fine when I select the whole entity, but that's not the case.
Technically I'm trying to join a Tuple and that's causing the issue. I want to perform the aggregate function in the subquery and select the field in the main query.

It looks something like t

[2022-02-19 11:16] beikov commented on #1455
To model this, you need a CTE entity: https://persistence.blazebit.com/documentation/1.6/core/manual/en_US/index.html#common-table-expressions

More info on CTEs here: https://persistence.blazebit.com/documentation/1.6/core/manual/en_US/index.html#ctes

[2022-02-20 02:00] gero1992 commented on #1455
Thank you! Works great 🙏

[2022-02-21 11:10] EugenMayer opened #1456 "Cascade delete throws an exception about an missing id"
### Description
When deleting a entity of (yet unknown pattern) via cascade, we get this exception
` java.lang.IllegalArgumentException: Attribute 'id' not found on type 'ModerationPageRevisionState'`

### Expected behavior
It should work work just like that i suppose.

### Actual behavior
Exception with stacktrace

[code]

### Steps to reproduce
2 Entities with an OneToOne relation, while the 'ch

[2022-02-21 12:35] beikov commented on #1456
The relevant part is the following:

[code]

When running `evm.remove(PageIdView.class, 1)`, the nested `CascadeDeleter` for `pageModerationState` lacks the `mappedBy` information, so the owner id path is just `id` instead of `pageRevision.id`

[2022-02-21 12:36] beikov opened #1457 "Update to DGS 4.9.19"
Create a `InputObjectMapper` implementation to support updatable entity views.

https://github.com/Netflix/dgs-framework/discussions/775

[2022-02-21 14:08] beikov opened #1458 "Explicit join followed by implicit join for same path fails"
Copying from our Slack discussion

[code]

the query

[code]

fails with

[code]

[2022-02-21 18:57] jwgmeligmeyling commented on #1374
[code]

Produces:

[code]

So:

* Distinct correctly passed to count function
* Multiple group by does not mess with the count distinct or the having clause

The produced SQL:
[code]

So:

* All three values are included in the query as parameters.

There is no transformation in Querydsl nor the integration with regard to the values clause or splitting a query in multiple queries. In fact the enti

[2022-02-22 08:45] #1453 closed

[2022-02-22 09:42] beikov commented on #1374
@alohaaloha: If you can provide us a reproducer or at least more details like the full entity model and actual executable code we can look into this more deeply, but as it is right now, we just couldn't reproduce your issue, so I'm going to close the issue.

[2022-02-22 09:42] #1374 closed

[2022-02-22 10:28] jwgmeligmeyling opened #1460 "Modulo operator return type clash between Querydsl and JPA"
Querydsl assumes the LHS side as return type for the modulo operator. While this is true for various DB dialects, in JPA the spec states that modulo should return an Integer. As a result expressoins like `longExpression.mod(2L).eq(1L)` fail, because the parameter type for the constant is bound to an Integer. `intExpression.mod(2).eq(1)` on the other hand works fine.

While it is Hibernate/JPA that

[2022-02-22 12:28] beikov opened #1462 "Document the filter clause for aggregate functions"
We are lacking documentation for the filter clause and the syntax in the window function chapter is using the old function based invocation which should be fixed: https://persistence.blazebit.com/documentation/1.6/core/manual/en_US/#window-functions

[2022-02-22 19:13] jwgmeligmeyling opened #1463 "Use array expression syntax instead of custom AST transformation in Querydsl integration"
### Description

Querydsl supports array expressions for collection mappings just as well as Blaze-Persistence. Historically however, these are implemented by replacing array expressions with joins and subqueries in the AST. The introduction of particularly joins beyond Blaze-Persistence means that potentially aliases are generated that collide with other aliases. It also means that the produced J

[2022-02-22 22:59] jwgmeligmeyling commented on #1452
Been able to reproduce the issue with the following domain:

[code]

The issue seems to lie in the handling of correlation path subqueries, as it can be reproduced with just the CriteriaBuilder API:

[code]

Throws:

[code]

[2022-02-23 06:22] #1458 closed

[2022-02-23 07:37] jordijansen commented on #1453
Is there a known workaround for this issue while we wait for 1.6.7?

Im running into this problem now.

[2022-02-23 07:38] beikov commented on #1453
Yes, you can and should use always use literals for compile time constants:

[code]

[2022-02-23 07:47] jordijansen commented on #1453
Thanks! That worked perfectly.

Good to know I should use literals. Replacing those where I can :)

[2022-02-24 09:51] ahofmeister commented on #1324
btw: We tested our use case with the version 1.6.6 and it works perfectly. Thanks so much! :)

[2022-02-25 12:15] beikov opened #1465 "MULTISET fetch strategy doesn't work properly with custom fetches"
When applying fetches for a subview collection that uses MULTISET fetching, the collection isn't properly fetched, because the check in `com.blazebit.persistence.view.impl.objectbuilder.transformer.SubviewTupleTransformerFactory#create` thinks there are no subfetches available.

[2022-03-01 19:38] corbettcode opened #1466 "In Spring 2.5, a new "deleteAllInBatch(...)" method was added"
In Spring 2.5, a new "deleteAllInBatch(...)" method was added

	/**
	 * Deletes the given entities in a batch which means it will create a single query. This kind of operation leaves JPAs
	 * first level cache and the database out of sync. Consider flushing the {@link EntityManager} before calling this
	 * method.
	 *
	 * @param entities entities to be deleted. Must not be {@literal null}.
	 * @de

[2022-03-02 08:15] beikov commented on #1466
You could workaround this in your app for now by delegating to the `deleteInBatch` method which is properly implemented.

[2022-03-04 17:03] beikov opened #1467 "Using @Min(10) leads to wrong generated code by annotation processor"
See the reproducer: https://github.com/ahofmeister/reproducer-validation-entity-views

[2022-03-07 22:29] dsarlo-viso commented on #1428
@beikov Just wanted to bump this on your radar (I know we are still waiting on other things first). We are still looking forward to having this fixed. Interest is still alive and well on our side! -- lol

[2022-03-16 15:59] patoessy opened #1468 "Cannot use an EntityTransaction while using JTA"
Support EntityTransaction while using JTA while using eclipse-link and java ee 8

[2022-03-16 16:03] beikov commented on #1468
Hi @patoessy,

can you give us more details please? What did you try and what didn't work? Please add some code snippets and stack traces of errors you encountered.

[2022-03-22 07:22] didos36 opened #1469 "with spring data 2.3.9 and spring data blaze integration 2.3.x, missing implementation of getReturnType"
### Description
with spring data 2.3.9 and spring data blaze integration 2.3.x, missing implementation of getReturnType

### Actual behavior

Error:
java.lang.AbstractMethodError: org/springframework/data/repository/core/RepositoryMetadata.getReturnType(Ljava/lang/reflect/Method;)Lorg/springframework/data/util/TypeInformation;

### Steps to reproduce
Just run/build with spring data 2.3.9

Version:

[2022-03-31 07:37] tom-mayer opened #1471 "CustomMultiTableBulkIdStrategy delegates depricated method to a class that does (seemingly?) not implement it anymore"
### Description
The `prepare()` method is depricated in `MultiTableBulkIdStrategy` and has been removed from some Hibernate classes it seems.

The class `CustomMultiTableBulkIdStrategy` which implements `MultiTableBulkIdStrategy` still implements the `prepare()`. This is not directly leading to an error but the `prepare()` method gets delegated to the Hibernate class `LocalTemporaryTableBulkIdStra

[2022-03-31 09:19] beikov commented on #1471
You will have to upgrade to the hibernate-5.6 integration to resolve this. Also see https://github.com/Blazebit/blaze-persistence/issues/1433

[2022-03-31 09:19] #1471 closed

[2022-03-31 09:40] tom-mayer commented on #1471
Hey thanks for answering,... I just saw it and wanted to close the issue, we were still at 5.4. Didn't see that.

[2022-03-31 09:40] beikov commented on #1471
No worries :)

[2022-04-05 15:29] StefanDuPreez-dev opened #1472 "Self joining entity delete failing"
### Description
When we perform a delete on a self-joining entity by using another foreign key, the delete fails because of the foreign key constraint.

### Steps to reproduce
2 entities created with a join from the detail to the header and a self join from the detail to itself
[code]

[code]

When running the following code the delete fails because of the foreign key on the parent failing
`Delete

[2022-04-05 15:42] beikov commented on #1472
Unfortunately this is not something that we can meaningfully emulate in other databases which is why I didn't bother to look into this so far. Usually, databases allow to defer constraint checks to the statement or transaction end, but unfortunately MySQL doesn't support that. Either way, deleting in some order is not going to solve this issue in general as you could have cycles.

I understand tha

[2022-04-07 08:19] StefanDuPreez-dev commented on #1472
That worked like a charm, thank you. Unfortunately, MySQL does not support order by on deletes with joins, so it is not that easy.
I tried using an exists and an in but MySQL also does not allow the table that is being deleted from being in the same query.

This is invalid SQL:
[code]
But this is valid
[code]

Is there a way to simulate the subquery on another subquery?

[2022-04-07 08:23] beikov commented on #1472
Not sure if/why you really need to join the same table again, you could just use a query like this:

[code]

[2022-04-08 06:34] StefanDuPreez-dev commented on #1472
I tried that, but failed to realize I was using the target table and not the parent table in the exists clause. Thank you for that.

[2022-04-08 06:34] #1472 closed

[2022-04-21 08:59] beikov opened #1474 "Arithmetic expression parsing has wrong precedence"
Seems we messed up the precedence for some operators since * has higher precedence than / although it should have the same and be parsed from left to right.

[2022-04-27 07:16] #1474 closed

[2022-05-01 17:52] dsarlo opened #1484 "Unable to use an EntityViewBuilder without the entity view manager"
### Description

I am trying to use an EntityViewBuilder without having the entity view manager available on spring's application context.

### Expected behavior

I would expect that I would be able to use the entity view builder class without any additional dependencies

### Actual behavior

We receive a null pointer exception when attempting to build an entity view from its respective builder cl

[2022-05-09 14:10] beikov opened #1485 "Support directives in entity view graphql extension"
SmallRye GraphQL and SPQR have out of the box annotation support for directives:

* https://github.com/smallrye/smallrye-graphql/blob/main/server/api/src/main/java/io/smallrye/graphql/api/Directive.java
* https://github.com/leangen/graphql-spqr/blob/master/src/main/java/io/leangen/graphql/annotations/GraphQLDirective.java

It would be nice if we could add an overridable method to `GraphQLEntityVie

[2022-05-09 15:25] ccoffey1 opened #1486 "Views with FK PK Cause Exception on Save"
### Description
Entity Views with a PK FK, when saved, produce the following exception:
`com.blazebit.persistence.view.OptimisticLockException: The update operation did not return the expected update count!`

Sample views:

[code]

[code]

Here, `ParentUpdateView` is being passed in through an endpoint with `itemId` equaling a value already in the DB, and a new value for `content`.

### Expected b

[2022-05-13 07:41] minhdtb commented on #1116
@beikov yeah, I really need Quarkus graphql example by using smallrye-graphql. Hope you add it soon

[2022-05-13 11:56] beikov opened #1487 "Attribute name clashing with implicit root alias leads to issues"
I just noticed that the following entity view

[code]

will result in a query like `select alias.id, alias from Alias alias`, although it should be `select alias.id, alias.alias from Alias alias`. We should fix that somehow.

[2022-05-20 10:24] EugenMayer opened #1488 "Respect common annotations on EntityViews for GraphQL type generations"
We would like to improve the generated types for GraphQL so that one can use (more) of the common annotations on the `EntityViews` to let the type-generation understand, what should be done (like the annotations that are already respected to rename fields).

The aspects we are implementing are
- `javax.validation.constraints.NotNull` - respect if a field should not be nullable, even though the hib

[2022-05-20 12:50] beikov opened #1490 "SIZE to count optimization of inverse one-to-many leads to error"
An entity with a mapping like e.g.

[code]

seems to be problematic when using `SIZE` in e.g. `@Mapping("SIZE(entities)")` because it renders `COUNT(INDEX(entities))`

[2022-05-20 14:11] beikov opened #1491 "New filter mapping mechanism based on mapping expressions"
Certain users would like to provide filtering mechanisms also for views that do not expose certain data through attribute mappings. So far, the way to go here is for users to make use of view filters, but the parametrization of these usually is through optional parameters, which is not very great from a usability PoV.
It would be awesome if we had a mix of attribute and view filters, in the sense

[2022-05-20 15:16] EugenMayer opened #1492 "Implement exposing non-mapped / hibernate fields in EntityViews for GraphQL"
Using computational implementations like

[code]

does work for usual `EntityViews` in BP.

The limitation is, when this EVs are exposed via GraphQL, `isRed` will not be available in the GraphQL schema when generated from code via  `GraphQLEntityViewSupportFactory`.

It would be great if those fields would be exposed by default in GraphQL or at least by annotating them to be included like

[code]

[2022-05-23 11:54] MichaelF25 commented on #528
So what's the workaround for this? I am facing the same issue in my Spring Boot 2.5.14 based app which uses Hibernate 5.4.33.

[2022-05-23 11:56] beikov commented on #528
AFAICS, the workaround would be to use `java.sql.Timestamp` instead of `LocalDateTime` in your converter.

[2022-05-23 11:58] jwgmeligmeyling commented on #528
I started using a custom type for YearMonth mappings: YearMonthTimestampType from https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-52/src/main/java/com/vladmihalcea/hibernate/type/basic/YearMonthTimestampType.java

[2022-05-23 12:55] MichaelF25 commented on #528
Thx for you fast replies! The thing is, in my project I use type-safe ID value types with respective attribute converters as a replacement for `@ManyToOne` annotated properties. The concept is described here : http://odrotbohm.de/2021/02/Architecturally-evident-code-with-jMolecules/

Since we are also already using a custom `Dialect` implementation, maybe a workaround can be established there by o

[2022-05-23 13:22] beikov commented on #528
Not sure I understand what your particular issue is exactly, since you are not using `LocalDateTime` or anything like that. Maybe create a new issue on GitHub with some more details or maybe even a reproducer for the problem you have.

[2022-05-23 13:50] MichaelF25 commented on #528
I am using many `AttributeConverter<SomeIdValueType, UUID>`. Since `UUID` itself is not a basic type (similar to `LocalDateTime`), I am running into this issue. We also have `AttributeConverter<SomeOtherIdValueType, Integer>` which are working fine.

[2022-05-23 13:53] beikov commented on #528
I see. Well in that case, you could try to map to `AttributeConverter<SomeIdValueType, byte[]>` or `AttributeConverter<SomeIdValueType, String>` instead, depending on your DB representation.

[2022-05-23 14:38] MichaelF25 commented on #528
Thx for the hint. Now this one seems to work, but now I am facing a NPE if `AbstractHibernateEntityManagerFactoryIntegrator` tries to access the `TYPE` part of the version string (which is `5.4.33`). Should I create a new ticket for that one?

[2022-05-23 14:39] beikov commented on #528
The problem is that Spring uses a "wrong" Hibernate version. Switch to the one ending with .Final pleas

[2022-05-27 14:56] Mobe91 opened #1493 "Spring-boot 2.7.0 compatibility"
### Description
There seems to be an incompatibility with spring-boot 2.7.0.

### Expected behavior
Successful integration of blaze-persistence and spring-data for spring-boot 2.7.0.

### Actual behavior
The following exception is thrown when accessing a spring-data repository:

[code]

[2022-06-09 16:55] nlippke opened #1495 "CTE based queries fail if hibernate filters are being used"
### Description

If a CTE is build around an entity that also supports hibernate filters the query will fail, because the inner query is missing the filter clause but the executor tries to set an extra filter parameter.

A generated SQL looks like
[code]

So you always end up with an error, such as
[code]
because the query itself only requires 4 arguments.

### Steps to reproduce
[(CteTest)](https

[2022-06-09 16:56] nlippke commented on #1495
Honestly I'm not really sure about the source of the problem. Maybe it's a hibernate issue?

[2022-06-09 17:01] beikov commented on #1495
Hey there,
it's probably a bug in the integration, since we need to extract and transform SQL to render CTEs, I guess that we didn't think about filters too much.

Thanks for the test case! Do you think you could workaround the problem for now by applying the filter manually in the `WHERE` clause? I'm not sure how easy it is to fix this yet, but I believe that the [SQL extraction](https://github.c

[2022-06-09 17:14] jwgmeligmeyling commented on #1495
Should be easy to construct a test case derived from [`CTESubselectFilteringTest`](https://github.com/beikov/blaze-persistence/commit/8e97b6627244d4d51dbaf313512066eeb2bfe13e#).

It already appears to use a CTE on an entity with an active filter, so I am not sure what exactly is the difference here.

[2022-06-10 07:27] nlippke commented on #1495
I don't know how. If I add extra condition than the I'll get the same error with increments argument index.

It looks like your not passing active filters to hibernate in [getOriginalQueryPlan()](https://github.com/Blazebit/blaze-persistence/blob/main/integration/hibernate-base/src/main/java/com/blazebit/persistence/integration/hibernate/base/HibernateExtendedQuerySupport.java#L173).
Instead you'r

[2022-06-13 06:28] beikov opened #1497 "Using MappingParameter for collection type doesn't work"
From the question https://github.com/Blazebit/blaze-persistence/discussions/1496

We can see an error:

[code]

when using

[code]

[2022-06-13 14:25] beikov opened #1498 "Showcase dynamic entity view collection mapping pagination, filtering and sorting"
This is one of the best fitting use case for Blaze-Persistence (Core, GraphQL, Entity-Views) and Blaze-Expression, yet we still have a few missing pieces. Let's build a GraphQL example and add features to our base technologies until we can fulfill this use case perfectly.

My goals are:

* Integration of `blaze-expression` filters for entity view collection mappings (this part might have to move t

[2022-06-13 15:37] nlippke opened #1499 "Hibernate filters are not being used in build-in functions"
### Description
Blaze's built-in functions do not respect hibernate filters.

Example:
[code]

If you now filter on all cats which have at least 2 female kittens
[code]

the result list counts also male cats, because

[code]

### Expected behavior
Subquery for size should also filter.

### Actual behavior
Filter is ignored.

### Steps to reproduce
The example is taken form this [Test case]( https:

[2022-06-21 18:05] dsarlo-viso opened #1502 "Faulty owner path determination when attempting to remove an entity view"
### Description

Trying to remove an entity view and I am getting this - note: Primary key is a Long
I also tried using this method instead - remove(EntityManager entityManager, Class<?> entityViewClass, Object viewId) with no luck

[code]

Entity view:
[code]
Backing entity:
[code]

User event contains this mapping for user (not bidirectional since we don't want to query for a User entity when pu

[2022-06-21 18:46] dsarlo-viso opened #1503 "PropertyNotFound exception when saving a new entity view to collection on a parent view"
### Description

We are attempting to add a new entity view to a collection that is a child on another entity view. When trying to save the parent, we get a PropertyNotFound exception from hibernate.

[code]

This is the current structure `ClientProfileUpdateView -> Set<OrgDataTypeConfigUpdateView> -> DataTypeUpdateView -> OrgIdView getOrg();`
If I save OrgDataTypeConfigUpdateView directly, DataTy

[2022-06-22 06:34] beikov commented on #1503
Hey Dan, thanks for the detailed report. If you can create a reproducer for this, that would be really awesome.

[2022-06-23 09:02] nlippke commented on #1499
It turns out that this is even not working in plain JPQL with hibernate. The `size()` function is simply ignoring any filters. A possible workaround is to manually phrase the where-condition.

[2022-06-23 09:02] #1499 closed

[2022-06-23 22:22] beikov commented on #1499
Hey @nlippke, is the size function the only usage that is problematic? I think we might be able to fix/workaround that. I'd be curious though if you can check whether Hibernate 6.1.0.Final has the same problem. I'm just about to finish the integration for that version and might be able to squeeze one more bug fix into the next Hibernate version, in case this is still problematic.

[2022-06-24 08:16] beikov opened #1504 "Switch to JDK 11 for building"
In 2.0 we will switch to JDK 11 for building, yet we will still require JDK 8 for releases.

[2022-06-27 14:38] nlippke commented on #1499
I've checked out hibernate 6.1 and created a test there which passes correctly.

[2022-06-27 14:40] beikov commented on #1499
Thanks for testing that. One last question, is this only a problem for the size function? Or are there other collection related functions for which you also ran into this problem?

[2022-06-28 07:41] nlippke commented on #1499
The interesting part of the size function is that it results in an inner query. I am not aware of any other collection based function.

[2022-07-08 08:53] IMECS1 opened #1505 "How to add blaze to spring boot project"
I tried to add blaze to my spring boot project. I want to use the blaze criteria module. However, I am always getting errors during application startup or initialization of the CriteriaBuilderConfiguration.

On the spring side I am using the following dependencies:
- spring boot: 2.6.7
- spring data: 2.6.7 (comes with spring boot)
- hibernate: 5.6.8.Final (comes with spring boot)
- Java: 11
- blaz

[2022-07-08 09:32] jwgmeligmeyling commented on #1505
Does `5.6.8.Final` use the Jakarta or old javax JPA APIs?

[2022-07-08 13:20] IMECS1 commented on #1505
It looks like javax is excluded and jakarta used instead:

		  <artifactId>spring-boot-starter-data-jpa</artifactId>
		   ...
		   <dependencies>
			  <dependency>
				 <groupId>jakarta.persistence</groupId>
				 <artifactId>jakarta.persistence-api</artifactId>
			  </dependency>

			  <dependency>
				 <groupId>org.hibernate</groupId>
				 <artifactId>hibernate-core</artifactId>
				 <exclusions>

[2022-07-08 14:19] jwgmeligmeyling commented on #1505
You're missing the integration dependency:

[code]

This will likely only get you to the next error, because for Querydsl you might need to specify additional classifiers as well. Also keep in mind that due to the way Spring Data constructs Querydsl query builders (https://github.com/spring-projects/spring-data-jpa/blob/main/spring-data-jpa/src/main/java/org/springframework/data/jpa/repository/sup

[2022-07-18 14:40] IMECS1 commented on #1505
It seems it still uses javax. I got the follwoing exception:
`java.lang.ClassNotFoundException: jakarta.persistence.PersistenceException`

After adding the right integration everything works fine:

		  <dependency>
		      <groupId>com.blazebit</groupId>
		      <artifactId>blaze-persistence-integration-hibernate-5.6</artifactId>
		      <version>1.6.6</version>
		  </dependency>`

[2022-07-18 14:40] #1505 closed

[2022-07-20 14:33] beikov opened #1511 "Add Spring GraphQL example and maybe also an integration if needed"
@dsarlo-viso was so kind to provide a sample project that showcases the use of the new Spring GraphQL module: https://github.com/dsarlo-viso/blaze-spring-for-graphql-example

We should try to learn from this and create an example project within our Blaze-Persistence repository

[2022-07-21 11:58] #990 closed

[2022-07-21 18:46] ericbambach-qwickrate opened #1515 "@Formula annotation in subquery results in The cte column [null] has already been bound!"
### Description

Using @Formula in an entity to fetch results in the error "The cte column [null] has already been bound!". This error is not present if we fetch normally without a subquery.

### Expected behavior

The entity should be fetched normally - same as not in a subquery

### Actual behavior

Error: The cte column [null] has already been bound!

### Steps to reproduce

Test case works wit

[2022-07-21 18:51] beikov commented on #1515
Thanks for the report. I'll try to look into this, but I think fixing this properly is not going to be very easy, because the exception you are seeing is probably just the first of a few that will happen. So if you can workaround this by removing formulas, I would suggest you do that for now.

[2022-07-21 19:43] beikov opened #1516 "Set operation of multiple BlazeJPAQuery fails during execution"
### Description

Creating a union of multiple BlazeJPAQuery and executing that doesn't work.

### Expected behavior

Should produce a result

### Actual behavior

[code]

### Steps to reproduce

Use a query like this `new BlazeJPAQuery<Tuple>(criteriaBuilderFactory).union(mainSelect1, mainSelect2, mainSelect3);` where the individual selects are simple queries.

### Environment

Version:

[2022-07-21 19:47] jwgmeligmeyling commented on #1515
In CTE's we do not support `@Formula's`, and throw a boot time exception for it: #546.

When using entities as CTE's - such as using a subquery in a FROM or JOIN clause, I believe the same rules apply.

[2022-07-23 10:05] licunzhi commented on #1505
Can you share all pom.xml , same question

[2022-07-23 10:20] beikov commented on #1505
You can use artifacts suffixed with "-jakarta" if you want to use the jakarta API

[2022-07-23 14:24] licunzhi opened #1519 "AbstractHibernateEntityManagerFactoryIntegrator Index 3 out of bounds for length 3"
<parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-parent</artifactId>
        <version>2.5.8</version>
        <relativePath/>
    </parent>

SpringBoot version : 2.5.8

There are some errors in my app:

Caused by: java.lang.ArrayIndexOutOfBoundsException: Index 3 out of bounds for length 3
	at com.blazebit.persistence.integration.hibernate.base.f

[2022-07-23 14:27] beikov commented on #1519
Are you using an uber-jar deployment? In that case you must provide the Hibernate version through a version provider SPI

[2022-07-24 01:49] licunzhi commented on #1519
ok, seems I saw some error messages about uber-jar.  Could pls give some examples or docs about config provider SPI?

[2022-07-25 07:54] beikov commented on #1519
Here is the SPI you have to implement https://www.javadoc.io/doc/com.blazebit/blaze-persistence-integration-hibernate-base/latest/com/blazebit/persistence/integration/hibernate/base/spi/HibernateVersionProvider.html

You will need a compile dependency on baze-persistence-integration-hibernate-base to see this class though.

[2022-07-25 08:30] EugenMayer opened #1520 "Cascading DELETE on an OneToOne relation leads to NPE"
Following up on https://github.com/Blazebit/blaze-persistence/issues/1306 with a reproduction that we have in our code. We yet do not  know what it would take to have a common reproduction. Maybe an on-spot debug session would help identify this?

### Description

When cascading deletes in OneToOne mappings, we get an exception when running the query:
[code]

While having this on our entity User

[2022-07-27 04:37] ahofmeister opened #1521 "Entity View Module: Partial update does not respect empty collections"
### Description
We have several entities which have collections. eg a Food has some food criteria (Fruit, Vegetable, ..). Those criteria could be empty, eg Water has none. So for our client, they set the collection to empty in the PATCH request.

### Expected behavior
We expect that the collection is empty after patching the entity with an empty collection

### Actual behavior
No update statement

[2022-07-27 08:11] beikov commented on #1521
Thanks for the report. In the meantime, you can use `saveFull` as a workaround to also flush the collection. If that doesn't work because you want to apply only partial state, you will have to load the updatable entity view first and the apply the JSON onto that object via the `EntityViewAwareObjectMapper`. I'll try to see if I can fix that soon though, as I think this might be easy!

[2022-07-27 18:37] dsarlo-viso opened #1522 "Unable to make a paginated query (GraphQl) for an entity view with inheritance configured"
### Description

I have an entity view that has EntityViewInheritance configured. I am trying to create a paginated graphql query wrapped in a GraphQLRelayConnection.

This is my entity view and graphql schema:
[code]

The following query is being made:
[code]

### Expected behavior

I expect that I would get the entity view's back as edge nodes in the response

### Actual behavior

All of the nod

[2022-08-02 20:43] jwgmeligmeyling commented on #1516
Although a reproducer was not found, this issue is _likely_ to be caused by the fact that CTE rendering happened whenever we stumbled upon a CTE. CTE's should be rendered first thing before starting set builders.

[2022-08-02 20:49] jwgmeligmeyling opened #1523 "Provide root alias for joins in order to support multiple from nodes in the Querydsl integration"
### Description

Not sure if this was already the case before the join method overloads for root aliases were introduced, but it's currently not possible to add joins to a query with multiple from nodes in Querydsl.

### Expected behavior

The join node uses the last added from node as root node (QueryDSL queries are read from left to right).

### Actual behavior

The query fails with an exception

[2022-08-02 20:50] jwgmeligmeyling opened #1524 "Support CTE's for left-nested set queries"
### Description

The `StartOngoingSetOperationCriteriaBuilder` does not extend `CTEBuilder`. Therefore its currently not possible to add CTE's to a left-nested set query.

### Expected behavior
Adding CTE's to a left-nested set query is possible.

### Actual behavior

The method does not appear in the API.

### Steps to reproduce

### Environment

Version:
JPA-Provider:
DBMS:
Application Server:

[2022-08-02 21:02] jwgmeligmeyling opened #1525 "Bind entity shorthand does not work for complex embeddables in Querydsl"
### Description

When producing a query with entity subqueries, like:

[code]

Currently the above may fail if the entity has some more complex (embeddable) mappings.

This is because the `BlazeCriteriaBuilderRenderer` does not currently utilise `JpaUtils.getEmbeddedPropertyPaths` to find the embedded property paths.

FWIW:  I also considered changing the code to use `fromEntitySubquery` instead o

[2022-08-04 10:43] #1443 closed

[2022-08-04 10:43] #1460 closed

[2022-08-04 10:43] #1516 closed

[2022-08-04 10:43] #1524 closed

[2022-08-04 10:43] #1525 closed

[2022-08-04 13:38] #1523 closed

[2022-08-04 13:43] #1466 closed

[2022-08-04 13:43] #1469 closed

[2022-08-09 13:36] beikov opened #1528 "Create setFetchSize method on Queryable"
Based on a recent [question](https://github.com/Blazebit/blaze-persistence/discussions/1527), we should add a `setFetchSize` method on `Queryable`. We probably have to set a hint behind the scenes or invoke some JPA provider specific method to support this. Maybe we should add a method `JpaProvider#setFetchSize(Query, int)` to handle this.

[2022-08-10 16:50] beikov opened #1529 "Create Hibernate Panache Repository integration"
The idea is to offer a custom `PanacheRepositoryBase` that offers nice uses of Blaze-Persistence APIs and Entity-View support, that integrate into the Quarkus way of doing things.

[2022-08-12 10:06] Mobe91 opened #1530 "Spring-data integration does not support org.springframework.data.domain.Unpaged"
### Description
Given following repository method:

[code]

The invocation of this method fails with the following exception when using `Pageable.unpaged()`. E.g.
[code]

### Expected behavior
The method is executed and the underlying query does not perform pagination.

### Actual behavior

The following exception is thrown,
[code]

### Steps to reproduce

### Environment
blaze-persistence 1.6.7
s

[2022-08-22 13:59] beikov opened #1531 "Configuring spring integration leads to boot errors when id class repositories exist"
The mere existence of a repository for an entity which uses an id class leads to a boot error. This should be fixed, and ideally, we can detect if Blaze-Persistence features are used to switch to the original repository implementation.

Here a stack trace:

[code]

[2022-08-23 07:20] EugenMayer opened #1532 "BP data 2.4 is no longer compatible with spring boot 2.6.9+"
It seems that 2.6.9 underwent a spring boot data minor upgrade, maybe the same one that went into 2.7.x - thus it is broken with bp data 2.4 right now.

to be honest, I am not sure bp should fix that, otherwise, we will need to have 2 different bp data 2.6 versions, one for 2.6.9 and above, and one for below.

It was odd that they upgraded spring boot data within a patch release, AFAIKC it is rela

[2022-08-23 07:24] beikov commented on #1532
Can you give a small clue what is broken for you? I saw that there was an upgrade to Spring Data 2.6.5 but from the [changelog](https://github.com/spring-projects/spring-data-jpa/releases/tag/2.6.5) i can't tell what could have caused any breakage.

[2022-08-23 07:42] EugenMayer commented on #1532
@beikov do you think you can make this work for 2.6.0-2.6.8 and 2.6.9-2.6.11 at the same time, without releasing to bp data 2.6 versions? seems like this here does not fit your release concept and maybe not worth the effort, IMHO

[2022-08-23 07:44] beikov commented on #1532
Yeah, it should be possible to support all versions without having multiple integrations :)

[2022-08-23 10:32] EvgeniyTucha opened #1533 "parametrised SubqueryProvider invoked for a field even if field was not requested"
i.e. if we have field contactCount with @MappingSubquery annotation, in case if we will ask for only id field, constructor from TestSubqueryProvider will be invoked after
setting.addOptionalParameter("optionalParameter", 1);
and exception will be thrown.

@EntityView(Document.class)
public interface DocumentWithSubquery {

    @IdMapping
    public Long getId();

    public String getName();

[2022-08-28 15:06] #1519 closed

[2022-09-15 11:18] ahofmeister opened #1535 "Annotation Processing not working for accessors with name result in views"
### Description

If the code contains views which has accessors with the name `getResult` or/and `setReuslt(..)` the application does not compile.

### Expected behavior

No compile issue

### Actual behavior
[code]
### Steps to reproduce

### Environment

Version:
JPA-Provider:       Hibernate
DBMS:
Application Server:  Quarkus

[2022-09-15 13:46] beikov opened #1536 "ClassCastException in generated entity view implementation class when optimistic version is not mapped"
A view like:

[code]

for an entity that has a `@Version Long version` will fail on load with:

[code]

because line 76 tries to assign the version, which is not passed in the tuple unfortunately

[code]

Add a test for this and make sure we add a select item for the version.

A workaround is to add an explicit mapping for the version i.e. `Short getVersion();`

[2022-09-16 09:13] beikov opened #1537 "Add ManagedViewType#renderSecondaryMappings implementation that accepts FromBuilder"
We need a new method to allow applying entity view mappings also to subqueries or CTEs as requested in https://github.com/Blazebit/blaze-expression/issues/64

It should be pretty straighforward to do this, but we might need some casts since we don't have a type which is `FromBuilder & CommonQueryBuilder` which is implemented by all subtypes which are of interest here. It's probably worth deprecati

[2022-09-16 10:08] #1492 closed

[2022-09-16 10:08] #1531 closed

[2022-09-16 14:14] EugenMayer opened #1539 "GraphQL schema is not generated correcly when MappingSingular is used"
When a MappingSingular is used with a Converter, pretty much the same like https://persistence.blazebit.com/documentation/1.6/entity-view/manual/en_US/#singular-collection-type-mappings, the generated GQL view, which has this definition

[code]

While the entity has the following def.

[code]

In the GQL schema, the actual type will be `String`, not `List<String>`. The actual GQL fetch value is so

[2022-09-16 14:16] EugenMayer commented on #1539
you mixed the issue :) - this one is not about hte flush strategy but the GQL part, even though the field is the same

[2022-09-16 14:17] beikov commented on #1539
Ohh, you are right. Didn't look careful enough. Thanks.

[2022-09-16 14:19] beikov opened #1540 "QUERY flushing MappingSingular attribute in UpdatableEntityView causes exception"
With the QUERY flush strategy we bind the mapping singular attributes like they are, but Hibernate interprets a parameter that implements java.util.Collection as list parameter and expands the collection. We'll need some way to force Hibernate to treat this a singular parameter, e.g. using TypedParameterValue or something like that. Maybe a new JpaProvider method that binds singular parameters?

[

[2022-09-19 08:08] #1530 closed

[2022-09-19 08:08] #1532 closed

[2022-09-19 08:08] #1535 closed

[2022-09-19 08:08] #1539 closed

[2022-09-19 11:20] EugenMayer opened #1546 "MappingSingular fields on EntityViews lead to exception when deserialiazed"
### Description

### Expected behavior

### Actual behavior

### Steps to reproduce

### Environment

Version:
JPA-Provider:
DBMS:
Application Server:

[2022-09-20 08:23] EugenMayer opened #1547 "Concurrency issues with the annotation processor"
We are using gradle 7.5.1 with java 17, also happened with gradle 6 and java 11. It happened with every BP version since 1.5.x and above.

It does happen in the CI (less often due to the build cache)

When we compile our codebase from scratch, it is about 90% likely that we get this exception/error. It seems to happen due to some concurrent attempt to write the same file. If the build cache is pre

[2022-09-20 08:41] EugenMayer opened #1548 "FR / Idea: Support sub-data-fetcher in GraphQL for EntityViews"
## Motivation

I cases, where an GraphQL response should include a specific EV (which fetches data from the database), but also needs additional fields which cannot be fetched via the database. Areas like 'ldap configuration' loaded from the database, but also the server connection status `connectStatus` which uses the ldap client to test the connection. Via would love to be able to use [sub data

[2022-09-20 09:53] EugenMayer commented on #1548
After discussing with @beikov in Zulip he pointed me to an existing implementation

- https://github.com/Blazebit/blaze-persistence/blob/7956aa45921fa4bb9868163939d3af1d88560e2d/examples/spring-data-dgs/src/main/java/com/blazebit/persistence/examples/spring/data/dgs/fetcher/CatGraphQLApi.java#L73
- https://github.com/Blazebit/blaze-persistence/blob/7956aa45921fa4bb9868163939d3af1d88560e2d/examples

[2022-09-20 10:33] beikov commented on #1548
I just tested the example with 5.2.1 and sub data fetchers are invoked properly, so I assume there is an error in your implementation. You can reopen this issue with a reproducer if you find a bug.

[2022-09-20 10:33] #1548 closed

[2022-09-21 08:11] EugenMayer opened #1549 "NotNull never evaluated for computed fields in GraphQL"
If one has a computed fields on a EntityView like

[code]

I see that seems like `com.blazebit.persistence.integration.graphql.GraphQLEntityViewSupportFactory#isNotNull` is never called for that field, thus e.g. our @NotNull annotation is not respected (we have isNotNull overridden and added that annotation support), thus the field is typed nullable in the gql schema.

Was this a design decision o

[2022-09-22 10:10] EugenMayer commented on #1520
As an update, i could isolate that this issue most probably is related to only OneToOne relations, which define a joinColumn. Using a PrimaryKeyColumn relation does work with cascade - so not all OneToOne relations are affected by this

[2022-09-27 09:21] bbobbettoS opened #1551 "Java build stuck with blazer persistence framework"
When I try to build an existent maven java project where I have added the blaze framework in it, the build process stuck.

My Steps to reproduce
In a fresh 2022.09 eclipse installation,
- download the entityView maven archetype
'mvn archetype:generate "-DarchetypeGroupId=com.blazebit" "-DarchetypeArtifactId=blaze-persistence-archetype-entity-view-sample" "-DarchetypeVersion=1.6.7"'
- Imports as "E

[2022-09-27 09:26] bbobbettoS commented on #1551
After jstack the Building worker is stuck
'''
"Worker-13: Building" #66 prio=5 os_prio=0 cpu=304,21ms elapsed=256,54s tid=0x00007ff3d22a42a0 nid=0x10cc waiting on condition  [0x00007ff338bfd000]
   java.lang.Thread.State: WAITING (parking)
	at jdk.internal.misc.Unsafe.park(java.base@17.0.4.1/Native Method)
	- parking to wait for  <0x00000000a4a93dd0> (a java.util.concurrent.FutureTask)
	at java.ut

[2022-09-27 09:27] beikov commented on #1551
Thanks a lot. Can you share the stack traces of the other threads as well?

[2022-09-27 09:29] bbobbettoS commented on #1551
Yes, sorry
[eclipse_stack.txt](https://github.com/Blazebit/blaze-persistence/files/9654072/eclipse_stack.txt)
If can be useful this is the stack after 1 hour of build stuck at 64%
[eclipse_stack2.txt](https://github.com/Blazebit/blaze-persistence/files/9654083/eclipse_stack2.txt)

[2022-09-27 09:32] beikov commented on #1551
As a workaround, one thing you can do is to disable parallelization in the annotation processor, by passing the annotation processor argument `threads=1`. I think this [post](https://stackoverflow.com/questions/43404891/how-to-configure-java-annotation-processors-in-eclipse) should be able to help you understand how to configure this.

[2022-09-27 09:43] beikov commented on #1551
As far as I can tell from the thread stacks, it seems like this could be a bug in Eclipse. An annotation processor thread tries to close a stream which then waits in eclipse specific code for a lock, which it never gets. I can only assume that this has to do with parallelization i.e. if the main annotation processor thread would try to acquire the lock, then it would get that.

I have played with

[2022-09-27 09:50] bbobbettoS commented on #1551
I did
![proc_ann](https://user-images.githubusercontent.com/114412356/192493659-4b71cc9e-c873-48b9-9832-bf37a69966d0.gif)
Rebuilding is stuck to 14%
[eclipse_7224.txt](https://github.com/Blazebit/blaze-persistence/files/9654245/eclipse_7224.txt)
I don't known if it is related, but even vscode doesn't build anymore, I think that it uses the same/similar jdt plugin

[2022-09-27 09:59] beikov commented on #1551
If VSCode also uses the Eclipse JDT compiler, then it will probably run into the same issues. The latest thread stack dump still shows that multi-threading is used, so I don't know if Eclipse properly passes the options to the annotation processor, but I think you might still run into the problem even after doing that, since a single thread executor will still run in a separate thread. I'll make s

[2022-09-27 10:03] beikov commented on #1551
Can you try building [this PR](https://github.com/Blazebit/blaze-persistence/pull/1552) and see if that fixes your issues? Given that you can get Eclipse to pass on the annotation processor configuration properly.

[2022-09-27 12:42] bbobbettoS commented on #1551
Thank you, the fix has resolved this issue, in yours "Entity view archetype" and "Spring-Boot archetype" test projects, but I've encountered another issue that stuck the build process while integrating blaze persistence in a spring boot project of mine.
This happens with both versions (1.6.7 and 1.6.8-SNAPSHOT)
This is the thread dump
[spring_boot.txt](https://github.com/Blazebit/blaze-persistence

[2022-09-27 12:55] beikov commented on #1551
Well, it blocks the same way as before, so maybe your annotation processor configuration of `threads=1` doesn't get applied correctly on that other project?

[2022-09-27 15:50] beikov commented on #1551
So this issue is fixed with the PR I created?

[2022-09-27 16:42] bbobbettoS commented on #1551
Yes, I have tested again, with this configuration
![immagine](https://user-images.githubusercontent.com/114412356/192582101-8eb5ae44-73aa-4812-9086-3109a629abbe.png)
and your PR my spring boot project compile and run
Thank you.

[2022-09-28 16:00] #1551 closed

[2022-10-07 14:31] beikov commented on #1551
Could you please try to build the https://github.com/Blazebit/blaze-persistence/pull/1555 PR and let me know if it works for you without the `thread=1` workaround?

[2022-10-07 14:55] beikov opened #1556 "Add page methods on FinalSetOperationCriteriaBuilder"
Right now we don't support the various `page` methods on `FinalSetOperationCriteriaBuilder` though it would be very nice to be able to do that. Lets see what is necessary to support that.

[2022-10-07 14:56] beikov opened #1557 "Allow BlazeCriteriaQuery to apply to a BaseCriteriaBuilder"
As shown in the [user question](https://stackoverflow.com/questions/73987553/using-multiple-cte-with-blaze-persistence-and-h2) it is hard to compose JPA Criteria parts into a bigger query. My suggestion is to add the following to `BlazeCriteriaQuery`:

[code]

This will allow users to compose a query like this:

[code]

To fully solve the problem for the user we'd also need https://github.com/Blaz

[2022-10-09 12:40] david-kubecka opened #1559 "Implement integration of Spring Data and GraphQL"
The goal is to facilitate Spring Data repository naming conventions and GraphQL DataFetchingEnvironment. I.e. one should be able to do something like this:
[code]

Alternatively, you could separate the GraphQL logic out of the DAO layer and allow to pass generic `EntityViewSetting` instead. The latter would be constructed by the caller in the controller (e.g. by `graphQLEntityViewSupport.createSet

[2022-10-09 19:01] david-kubecka opened #1560 "GraphQL example contains invalid code"
See https://github.com/Blazebit/blaze-persistence/blob/main/examples/spring-data-graphql/src/main/java/com/blazebit/persistence/examples/spring/data/graphql/view/CatWithOwnerView.java#L38. There a non-existing `GraphQLName` annotation is used (version 1.6.7).

A related question is how one can achieve similar functionality currently (mapping to a different field/type name in the schema).

[2022-10-09 19:29] david-kubecka commented on #1560
I see that it's actually a new feature in a future 1.6.8 release :-) Any idea when that one might come out?

[2022-10-10 06:49] beikov commented on #1560
Hey there. I think I will release it this week. I'll ping you here as soon as it's available on Maven Central.